In [1]:
import pandas as pd
import numpy as np
import sys 
import datetime
import os
import matplotlib as plt

%matplotlib inline

# Process the Weekday data

## Averages data for Jan and Feb 2019

* Average weekday non-pooled trip totals 
* Average weekday pooled trip totals
* Average weekday fares
* Average weekday travel time

In [2]:
tods = [1,2,3,4,5,6,7,8]

In [21]:
agg = { 'Trip Seconds':'mean',
       'Trip Miles':'mean','Fare':'mean',
       'Tip':'mean', 'Additional Charges':'mean', 'Trip Total':'mean', 'PRIVATE_TRIPS':'sum','SHARED_TRIPS':'sum',
       'Trips Pooled':'sum'}

In [29]:
df_all = pd.DataFrame()

for tod in tods:
    print('Working on tod ' + str(tod))
    df = pd.read_hdf('C:/Workspace/TNC-Demand-Model/Inputs/Chicago_TNC_Trips_20.H5', key = 'Weekday_' + str(tod))
    df = df[df['MONTH'].isin([1,2])]
    df = df[df['YEAR']==2019]
    df['DAY'] = df['Trip Start Timestamp'].dt.day
    df['PRIVATE_TRIPS'] = np.where(df['Shared Trip Authorized'] == False, 1, 0)
    df['SHARED_TRIPS'] = np.where(df['Shared Trip Authorized'] == True, 1, 0)    
    df = df.groupby(by= ['Pickup Census Tract','Dropoff Census Tract','MONTH','DAY'], as_index =False).agg(agg)
    df = df.groupby(by= ['Pickup Census Tract','Dropoff Census Tract'], as_index =False).mean()
    df['TOD'] = tod
    df_all = df_all.append(df)

Working on tod 1
Working on tod 2
Working on tod 3
Working on tod 4
Working on tod 5
Working on tod 6
Working on tod 7
Working on tod 8

In [30]:
df_all.head()

,Pickup Census Tract,Dropoff Census Tract,MONTH,DAY,Trip Seconds,Trip Miles,Fare,Tip,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,TOD
0,1.703101e+10,1.703101e+10,1.545455,14.681818,357.088636,1.089394,4.126894,0.606061,2.351250,7.084205,1.272727,0.409091,1.772727,1
1,1.703101e+10,1.703101e+10,1.482759,15.310345,285.902299,1.069540,3.735632,0.068966,2.387069,6.191667,0.896552,0.655172,1.862069,1
2,1.703101e+10,1.703101e+10,1.384615,16.000000,230.307692,0.576923,2.884615,0.076923,2.153846,5.115385,0.461538,0.692308,1.307692,1
3,1.703101e+10,1.703101e+10,1.500000,14.333333,206.625000,0.700000,3.333333,0.250000,2.125000,5.708333,0.916667,0.333333,1.416667,1
4,1.703101e+10,1.703101e+10,1.588235,10.764706,365.431373,1.462745,4.950980,0.490196,1.647059,7.088235,0.529412,0.588235,1.294118,1

In [28]:
df_all.PRIVATE_TRIPS.max()

204.69767441860466

In [31]:
len(df_all)

767362

In [33]:
df_all.to_csv('Outputs/2019_Weekday_Ridehail.csv')