In [1]:
import pandas as pd
import numpy as np
import sys 
import datetime
import os
import matplotlib as plt

%matplotlib inline

# Process the Weekday data

## Averages data for Jan and Feb 2019

* Average weekday non-pooled trip totals 
* Average weekday pooled trip totals
* Average weekday fares
* Average weekday travel time

In [2]:
tods = [1,2,3,4,5,6,7,8]

In [3]:
agg = { 'Trip Seconds':'mean',
       'Trip Miles':'mean','Fare':'mean',
       'Tip':'mean', 'Additional Charges':'mean', 'Trip Total':'mean', 'PRIVATE_TRIPS':'sum','SHARED_TRIPS':'sum',
       'Trips Pooled':'sum'}

In [12]:
df_all = pd.DataFrame()

for tod in tods:
    print('Working on tod ' + str(tod))
    df = pd.read_hdf('C:/Workspace/TNC-Demand-Model/Inputs/Chicago Ride-Hailing/Chicago_TNC_Trips_20.H5', key = 'Weekday_' + str(tod))
    
    print(df['Trip Seconds'].max())
    print(df['Trip Miles'].max())
    
    df = df[df['MONTH'].isin([1,2])]
    df = df[df['YEAR']==2019]
    
    print(df['Trip Seconds'].max())
    print(df['Trip Miles'].max())
    
    df['DAY'] = df['Trip Start Timestamp'].dt.day
    df['PRIVATE_TRIPS'] = np.where(df['Shared Trip Authorized'] == False, 1, 0)
    df['SHARED_TRIPS'] = np.where(df['Shared Trip Authorized'] == True, 1, 0)    
    df = df.groupby(by= ['Pickup Census Tract','Dropoff Census Tract','MONTH','DAY'], as_index =False).agg(agg)
    df = df.groupby(by= ['Pickup Census Tract','Dropoff Census Tract'], as_index =False).mean()
    df['TOD'] = tod
    df_all = df_all.append(df)

Working on tod 1
66720.0
546.1
55117.0
142.4
Working on tod 2
34644.0
92.6
29520.0
52.7
Working on tod 3
78780.0
206.6
78780.0
98.0
Working on tod 4
47100.0
304.7
33180.0
75.0
Working on tod 5
80520.0
284.6
80520.0
207.3
Working on tod 6
85080.0
292.9
30151.0
125.5
Working on tod 7
77040.0
290.1
77040.0
130.5
Working on tod 8
73200.0
201.9
73200.0
87.5

In [24]:
df_all[df_all['Trip Miles'] > 50]

,Pickup Census Tract,Dropoff Census Tract,MONTH,DAY,Trip Seconds,Trip Miles,Fare,Tip,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,TOD
100072,1.703151e+10,1.703198e+10,1.5,13.0,4140.0,52.5,75.0,1.0,11.265,87.265,1.0,0.0,1.0,1
15024,1.703124e+10,1.703116e+10,2.0,26.0,5147.0,52.7,67.5,0.0,4.800,72.300,1.0,0.0,1.0,2
6550,1.703103e+10,1.703176e+10,1.0,10.0,6952.0,77.9,97.5,0.0,5.250,102.750,1.0,0.0,1.0,3
60067,1.703150e+10,1.703198e+10,2.0,21.0,3688.0,52.3,52.5,0.0,8.510,61.010,1.0,0.0,1.0,3
70474,1.703175e+10,1.703182e+10,1.0,9.0,8493.0,62.6,92.5,0.0,4.050,96.550,1.0,0.0,1.0,3
77249,1.703184e+10,1.703113e+10,2.0,1.0,11392.0,51.3,192.5,0.0,2.550,195.050,1.0,0.0,1.0,3
86128,1.703198e+10,1.703150e+10,2.0,13.0,3430.0,52.0,60.0,14.0,10.550,84.550,1.0,0.0,1.0,3
86228,1.703198e+10,1.703184e+10,2.0,20.0,3576.0,53.5,62.5,0.0,10.550,73.050,1.0,0.0,1.0,3
83107,1.703169e+10,1.703169e+10,1.0,21.0,11233.0,207.3,222.5,100.0,2.550,325.050,1.0,0.0,1.0,5
85385,1.703171e+10,1.703108e+10,2.0,19.0,8364.0,104.2,125.0,50.0,4.450,179.450,1.0,0.0,1.0,5
67597,1.703149e+10,1.703184e+10,1.0,10.0,9094.0,111.2,135.0,0.0,3.100,138.100,1.0,0.0,1.0,6
74156,1.703168e+10,1.703198e+10,2.0,14.0,5247.0,51.4,67.5,0.0,9.800,77.300,1.0,0.0,1.0,6
77928,1.703177e+10,1.703150e+10,2.0,13.0,3518.0,51.5,57.5,0.0,2.550,60.050,1.0,0.0,1.0,6
85129,1.703146e+10,1.703198e+10,1.0,25.0,6565.0,55.5,77.5,0.0,9.800,87.300,1.0,0.0,1.0,8

In [27]:
df_all[df_all['Trip Seconds'] > 10000]

,Pickup Census Tract,Dropoff Census Tract,MONTH,DAY,Trip Seconds,Trip Miles,Fare,Tip,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,TOD
127210,1.703184e+10,1.703131e+10,1.00,31.00,51900.0000,4.60000,15.0000,0.0000,0.720000,15.720000,1.000,0.000,1.00,1
13528,1.703106e+10,1.703107e+10,2.00,6.00,41220.0000,1.30000,0.0000,0.0000,0.720000,0.720000,0.000,1.000,2.00,3
20912,1.703108e+10,1.703102e+10,1.50,23.50,13703.5000,14.60000,75.0000,0.0000,2.550000,77.550000,0.500,0.500,1.50,3
27617,1.703116e+10,1.703108e+10,1.75,13.75,11976.5625,10.83125,10.9375,0.3125,1.659375,12.909375,0.375,0.875,2.75,3
40548,1.703124e+10,1.703129e+10,1.00,17.00,11847.0000,9.90000,10.0000,0.0000,0.000000,10.000000,0.000,1.000,3.00,3
40939,1.703124e+10,1.703129e+10,1.00,17.00,11522.0000,8.00000,10.0000,0.0000,0.000000,10.000000,0.000,1.000,3.00,3
72742,1.703183e+10,1.703184e+10,2.00,6.00,10156.0000,14.20000,27.5000,0.0000,2.550000,30.050000,0.000,1.000,4.00,3
77249,1.703184e+10,1.703113e+10,2.00,1.00,11392.0000,51.30000,192.5000,0.0000,2.550000,195.050000,1.000,0.000,1.00,3
36216,1.703116e+10,1.703102e+10,2.00,20.00,13917.0000,3.50000,70.0000,0.0000,2.550000,72.550000,1.000,0.000,1.00,5
71501,1.703143e+10,1.703107e+10,2.00,15.00,11145.0000,19.60000,70.0000,11.0000,2.550000,83.550000,1.000,0.000,1.00,5
75459,1.703149e+10,1.703184e+10,1.00,24.00,29159.0000,8.00000,187.5000,38.0000,2.850000,228.350000,1.000,0.000,1.00,5
83107,1.703169e+10,1.703169e+10,1.00,21.00,11233.0000,207.30000,222.5000,100.0000,2.550000,325.050000,1.000,0.000,1.00,5
85618,1.703171e+10,1.703142e+10,2.00,7.00,19193.0000,4.30000,95.0000,0.0000,2.550000,97.550000,1.000,0.000,1.00,5
51738,1.703128e+10,1.703172e+10,2.00,7.00,18137.0000,14.30000,97.5000,0.0000,2.550000,100.050000,1.000,0.000,1.00,6
67176,1.703149e+10,1.703184e+10,2.00,1.00,14587.0000,45.00000,252.5000,0.0000,2.850000,255.350000,1.000,0.000,1.00,6
76945,1.703173e+10,1.703169e+10,2.00,21.00,30151.0000,4.90000,447.5000,50.0000,2.100000,499.600000,1.000,0.000,1.00,6
88473,1.703184e+10,1.703184e+10,1.00,14.00,11988.0000,20.70000,75.0000,0.0000,2.550000,77.550000,1.000,0.000,1.00,6
22528,1.703107e+10,1.703184e+10,2.00,7.00,23340.0000,42.10000,30.0000,0.0000,5.720000,35.720000,1.000,0.000,1.00,7
63890,1.703128e+10,1.703184e+10,1.50,8.00,39255.5000,15.50000,11.2500,0.0000,1.635000,12.885000,0.000,1.000,2.00,7
109497,1.703184e+10,1.703103e+10,1.00,24.00,24372.0000,9.40000,155.0000,0.0000,2.550000,157.550000,1.000,0.000,1.00,7
23849,1.703106e+10,1.703122e+10,1.60,16.20,10820.1000,6.11000,7.0000,0.0000,1.674000,8.674000,0.600,0.600,3.40,8
24699,1.703107e+10,1.703141e+10,2.00,11.00,13140.0000,11.30000,0.0000,1.0000,0.720000,1.720000,0.000,1.000,1.00,8
112422,1.703184e+10,1.703184e+10,1.50,25.00,37808.0000,20.35000,8.7500,0.0000,1.610000,10.360000,0.000,1.000,2.50,8

In [30]:
df_all[df_all['Fare'] == 0]

,Pickup Census Tract,Dropoff Census Tract,MONTH,DAY,Trip Seconds,Trip Miles,Fare,Tip,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,TOD
614,1.703101e+10,1.703169e+10,2.0,25.0,2879.0,20.00,0.0,0.0,0.72,0.72,0.0,1.0,1.0,1
633,1.703101e+10,1.703183e+10,2.0,7.0,1020.0,4.90,0.0,0.0,0.72,0.72,0.0,1.0,1.0,1
2521,1.703102e+10,1.703103e+10,2.0,1.0,840.0,3.40,0.0,0.0,0.72,0.72,0.0,1.0,1.0,1
3032,1.703102e+10,1.703102e+10,1.0,29.0,303.0,1.40,0.0,0.0,2.55,2.55,0.0,1.0,3.0,1
3764,1.703102e+10,1.703104e+10,1.0,10.0,374.5,1.45,0.0,0.0,2.55,2.55,0.0,1.0,2.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118722,1.703184e+10,1.703130e+10,2.0,25.0,405.0,2.00,0.0,0.0,2.55,2.55,0.0,1.0,3.0,8
119261,1.703184e+10,1.703129e+10,2.0,14.0,224.0,0.90,0.0,0.0,2.55,2.55,0.0,1.0,4.0,8
119395,1.703184e+10,1.703184e+10,2.0,11.0,589.0,2.10,0.0,0.0,2.55,2.55,0.0,1.0,3.0,8
119495,1.703184e+10,1.703158e+10,2.0,4.0,475.0,2.00,0.0,0.0,2.55,2.55,0.0,1.0,4.0,8
119496,1.703184e+10,1.703158e+10,2.0,27.0,325.0,1.60,0.0,0.0,2.55,2.55,0.0,1.0,4.0,8

In [29]:
df_all[df_all['Fare'] == 0]['Trips Pooled'].min()

1.0

In [16]:
df_all['Trip Miles'].mean()

6.327948523748607

In [33]:
df_all.to_csv('Outputs/2019_Weekday_Ridehail.csv')

# Data Accuracy Check

In [ ]:
df = pd.read_hdf('C:/Workspace/TNC-Demand-Model/Inputs/Chicago Ride-Hailing/Chicago_TNC_Trips_20.H5', key = 'Weekday_' + str(3))

In [14]:
jan_feb = df[df['MONTH'].isin([1,2])]

In [16]:
miles_over_50 = jan_feb[jan_feb['Trip Miles'] > 50]

In [17]:
len(miles_over_50)

77

In [18]:
miles_over_50.to_csv('Trips_Over_50_Miles.csv')

In [19]:
fare_0 = jan_feb[jan_feb['Fare'] == 0]

In [39]:
fare_0.to_csv('Fare_0_trips.csv')

In [41]:
jan_feb[(jan_feb['Trip Start Timestamp'] == '2019-01-15 08:30:00')&(jan_feb['Pickup Census Tract'] == 17031839700)&(jan_feb['Dropoff Census Tract'] == 17031320100)]

,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Fare,Tip,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,YEAR,MONTH,DOW,HOUR
9133667,2019-01-15 08:30:00,2019-01-15 09:00:00,1679.0,5.2,1.703184e+10,1.703132e+10,0.0,0.0,0.67,0.67,True,2.0,2019,1,1,8

In [42]:
miles_over_50.head()

,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Fare,Tip,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,YEAR,MONTH,DOW,HOUR
9285742,2019-01-24 08:15:00,2019-01-24 10:30:00,8068.0,58.1,1.703132e+10,1.703184e+10,152.5,0.0,2.55,155.05,False,1.0,2019,1,3,8
9764265,2019-01-01 08:45:00,2019-01-01 10:45:00,7752.0,90.7,1.703108e+10,1.703108e+10,112.5,21.0,5.50,139.00,False,1.0,2019,1,1,8
10872560,2019-02-21 07:45:00,2019-02-21 09:45:00,7645.0,51.7,1.703184e+10,1.703184e+10,80.0,11.0,3.30,94.30,False,1.0,2019,2,3,7
11963121,2019-02-01 08:15:00,2019-02-01 10:00:00,6133.0,53.9,1.703184e+10,1.703128e+10,75.0,0.0,2.55,77.55,False,1.0,2019,2,4,8
12646541,2019-01-25 08:30:00,2019-01-25 10:30:00,7135.0,83.4,1.703108e+10,1.703183e+10,102.5,0.0,2.55,105.05,False,1.0,2019,1,4,8

In [45]:
jan_feb[jan_feb['Trip Total'] == 0]

,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Fare,Tip,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,YEAR,MONTH,DOW,HOUR
30217883,2019-01-28 07:30:00,2019-01-28 07:45:00,959.0,2.0,1.703108e+10,1.703107e+10,0.0,0.0,0.0,0.0,True,6.0,2019,1,0,7

In [44]:
len(jan_feb[jan_feb['Fare'] == 0])

32806

In [47]:
trips_5hrs_moore = jan_feb[jan_feb['Trip Seconds'] >= 18000]

In [48]:
trips_5hrs_moore.to_csv('trips_over_5hrs.csv')