In [40]:
import pandas as pd 
import numpy as np

In [56]:
acs_dp05 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Inputs/ACS/2018/ACSDP5Y2018.DP05_2020-09-27T220323/ACSDP5Y2018.DP05_data_with_overlays_2020-09-27T220307.csv')

C:\Users\ramu225\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8,9,11,12,15,16,19,20,23,24,27,28,31,32,35,36,39,40,43,44,47,48,51,52,55,56,59,60,63,64,67,68,71,72,75,76,79,80,83,84,87,88,91,92,95,96,99,100,103,104,107,108,111,112,115,116,119,120,123,124,127,128,129,131,132,135,136,139,140,143,144,147,148,151,152,155,156,157,159,160,163,164,167,168,171,172,175,176,179,180,183,184,187,188,191,192,195,196,199,200,203,204,207,208,211,212,215,216,219,220,223,224,225,227,228,231,232,235,236,237,239,240,243,244,251,252,255,256,259,260,263,264,267,268,271,272,275,276,279,280,283,284,287,288,291,292,295,296,299,300,307,308,311,312,315,316,319,320,323,324,327,328,331,332,333,335,336,339,340,347,348,349,351,352,355,356) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [57]:
acs_dp05.head()

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE
0,id,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",6.3,47.3,13.6,(X),(X),4545,314,4545,...,107,1189,(X),382,88,32.1,6.3,807,93,67.9
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",7.5,98.4,29.1,(X),(X),1993,187,1993,...,44,379,(X),188,39,49.6,7.5,191,33,50.4
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",10.5,89.7,35.8,(X),(X),2365,230,2365,...,50,258,(X),122,38,47.3,10.5,136,35,52.7
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",10.2,92.4,38.3,(X),(X),3384,438,3384,...,76,631,(X),303,74,48.0,10.2,328,76,52.0

In [66]:
acs_dp05[['TRACT', 'COUNTY', 'STATE']] = acs_dp05.NAME.str.split(',', expand=True)

In [73]:
acs_dp05 = acs_dp05[acs_dp05['COUNTY'] == ' Cook County']

In [78]:
acs_dp05.head()

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE,TRACT,COUNTY,STATE,CENSUS_TRACT
140,1400000US17031010100,"Census Tract 101, Cook County, Illinois",20.1,110.0,96.0,(X),(X),4522,529,4522,...,66,52.4,20.1,120,65,47.6,Census Tract 101,Cook County,Illinois,1.703108e+10
141,1400000US17031010201,"Census Tract 102.01, Cook County, Illinois",16.0,102.6,71.7,(X),(X),7039,804,7039,...,120,50.6,16.0,229,126,49.4,Census Tract 102.01,Cook County,Illinois,1.703108e+10
142,1400000US17031010202,"Census Tract 102.02, Cook County, Illinois",12.6,80.2,42.1,(X),(X),2852,291,2852,...,68,44.5,12.6,212,56,55.5,Census Tract 102.02,Cook County,Illinois,1.703108e+10
143,1400000US17031010300,"Census Tract 103, Cook County, Illinois",9.0,63.4,24.2,(X),(X),6650,514,6650,...,98,38.8,9.0,763,193,61.2,Census Tract 103,Cook County,Illinois,1.703109e+10
144,1400000US17031010400,"Census Tract 104, Cook County, Illinois",20.2,109.2,87.8,(X),(X),5153,609,5153,...,118,52.2,20.2,163,73,47.8,Census Tract 104,Cook County,Illinois,1.703109e+10

In [79]:
acs_dp05['CENSUS_TRACT'] = acs_dp05.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [80]:
acs_dp05.CENSUS_TRACT.head()

140    17031010100
141    17031010201
142    17031010202
143    17031010300
144    17031010400
Name: CENSUS_TRACT, dtype: object

In [81]:
rename = ['TOTAL_POP', 'TOTAL_MALE', 'TOTAL_FEMALE', 'AGE_5U', 'AGE_5_9', 'AGE+10_14', 'AGE_15_19', 'AGE_20_24', 'AGE_25_34', 'AGE_35_44', 'AGE_45_54', 'AGE_55_59', 'AGE_60_64', 'AGE_65_74', 'AGE_75_84', 'AGE_85P', 'MEDIAN_AGE', 'CENSUS_TRACT']

In [82]:
keep = ['DP05_0001E', 'DP05_0002E', 'DP05_0003E', 'DP05_0005E', 'DP05_0006E', 'DP05_0007E','DP05_0008E', 'DP05_0009E', 'DP05_0010E', 'DP05_0011E', 'DP05_0012E', 'DP05_0013E', 'DP05_0014E', 'DP05_0015E', 'DP05_0016E', 'DP05_0017E', 'DP05_0018E', 'CENSUS_TRACT']

In [83]:
acs_dp05 = acs_dp05[keep]

In [84]:
acs_dp05.columns = rename

In [85]:
acs_dp05.head()

,TOTAL_POP,TOTAL_MALE,TOTAL_FEMALE,AGE_5U,AGE_5_9,AGE+10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_59,AGE_60_64,AGE_65_74,AGE_75_84,AGE_85P,MEDIAN_AGE,CENSUS_TRACT
140,4522,2301,2221,384,253,240,51,431,845,761,552,543,210,192,18,42,35.3,17031010100
141,7039,3701,3338,480,507,479,430,259,1225,1390,956,395,454,220,208,36,36.3,17031010201
142,2852,1390,1462,245,122,123,174,178,526,289,295,290,228,266,83,33,35.7,17031010202
143,6650,3294,3356,351,342,150,267,315,1053,1190,954,407,374,719,291,237,41.6,17031010300
144,5153,2405,2748,84,232,148,1178,907,839,534,461,163,266,254,51,36,25.2,17031010400

In [124]:
acs_s1101 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Inputs/ACS/2018/ACSST5Y2018.S1101_2020-09-27T220516/ACSST5Y2018.S1101_data_with_overlays_2020-09-27T220510.csv')

In [125]:
acs_s1101.head()

,GEO_ID,NAME,S1101_C01_001E,S1101_C01_001M,S1101_C02_001E,S1101_C02_001M,S1101_C03_001E,S1101_C03_001M,S1101_C04_001E,S1101_C04_001M,...,S1101_C01_020E,S1101_C01_020M,S1101_C02_020E,S1101_C02_020M,S1101_C03_020E,S1101_C03_020M,S1101_C04_020E,S1101_C04_020M,S1101_C05_020E,S1101_C05_020M
0,id,Geographic Area Name,Estimate!!Total!!HOUSEHOLDS!!Total households,Margin of Error!!Total MOE!!HOUSEHOLDS!!Total ...,Estimate!!Married-couple family household!!HOU...,Margin of Error!!Married-couple family househo...,"Estimate!!Male householder, no wife present, f...","Margin of Error!!Male householder, no wife pre...","Estimate!!Female householder, no husband prese...","Margin of Error!!Female householder, no husban...",...,Estimate!!Total!!Total households!!HOUSING TEN...,Margin of Error!!Total MOE!!Total households!!...,Estimate!!Married-couple family household!!Tot...,Margin of Error!!Married-couple family househo...,"Estimate!!Male householder, no wife present, f...","Margin of Error!!Male householder, no wife pre...","Estimate!!Female householder, no husband prese...","Margin of Error!!Female householder, no husban...",Estimate!!Nonfamily household!!Total household...,Margin of Error!!Nonfamily household MOE!!Tota...
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",2133,134,805,153,48,44,263,117,...,20.1,5.9,6.7,5.6,39.6,48.0,19.8,18.7,29.9,9.7
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",890,65,385,65,43,34,151,48,...,18.4,5.6,8.8,6.3,48.8,47.4,18.5,14.2,26.0,9.1
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",933,91,451,86,68,44,74,46,...,23.2,7.8,3.3,4.9,69.1,34.0,35.1,27.3,37.6,16.2
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",1273,128,441,98,92,66,179,68,...,41.2,7.8,14.1,8.8,94.6,10.5,50.3,22.4,51.0,12.3

In [126]:
acs_s1101[['TRACT', 'COUNTY', 'STATE']] = acs_s1101.NAME.str.split(',', expand=True)

In [127]:
acs_s1101 = acs_s1101[acs_s1101['COUNTY'] == ' Cook County']

In [128]:
acs_s1101['CENSUS_TRACT'] = acs_s1101.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [129]:
keep = ['S1101_C01_001E', 'S1101_C01_002E', 'S1101_C01_004E', 'CENSUS_TRACT']

In [130]:
rename = ['TOTAL_HHLDS', 'AVG_HHLD_SIZE', 'AVG_FAMILY_SIZE', 'CENSUS_TRACT']

In [131]:
acs_s1101 = acs_s1101[keep]
acs_s1101.columns = rename

In [105]:
acs_s1501 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Inputs/ACS/2018/ACSST5Y2018.S1501_2020-09-27T220845/ACSST5Y2018.S1501_data_with_overlays_2020-09-27T220806.csv')

In [106]:
acs_s1501.head()

,GEO_ID,NAME,S1501_C02_020M,S1501_C03_020E,S1501_C03_020M,S1501_C04_020E,S1501_C04_020M,S1501_C05_020E,S1501_C05_020M,S1501_C06_020E,...,S1501_C03_019M,S1501_C04_019E,S1501_C04_019M,S1501_C05_019E,S1501_C05_019M,S1501_C06_019E,S1501_C06_019M,S1501_C01_020E,S1501_C01_020M,S1501_C02_020E
0,id,Geographic Area Name,Margin of Error!!Percent MOE!!Population 25 ye...,Estimate!!Male!!Population 25 years and over!!...,Margin of Error!!Male MOE!!Population 25 years...,Estimate!!Percent Male!!Population 25 years an...,Margin of Error!!Percent Male MOE!!Population ...,Estimate!!Female!!Population 25 years and over...,Margin of Error!!Female MOE!!Population 25 yea...,Estimate!!Percent Female!!Population 25 years ...,...,Margin of Error!!Male MOE!!Population 25 years...,Estimate!!Percent Male!!Population 25 years an...,Margin of Error!!Percent Male MOE!!Population ...,Estimate!!Female!!Population 25 years and over...,Margin of Error!!Female MOE!!Population 25 yea...,Estimate!!Percent Female!!Population 25 years ...,Margin of Error!!Percent Female MOE!!Populatio...,Estimate!!Total!!Population 25 years and over!...,Margin of Error!!Total MOE!!Population 25 year...,Estimate!!Percent!!Population 25 years and ove...
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",7.3,174,66,100.0,14.6,189,90,100.0,...,66,(X),(X),189,90,(X),(X),363,128,100.0
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",17.6,59,26,100.0,35.2,82,41,100.0,...,26,(X),(X),82,41,(X),(X),141,56,100.0
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",4.5,215,71,96.4,6.4,89,38,100.0,...,70,(X),(X),89,38,(X),(X),304,87,97.4
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",7.7,157,79,82.2,17.7,293,130,97.0,...,81,(X),(X),302,131,(X),(X),450,166,91.3

In [107]:
acs_s1501[['TRACT', 'COUNTY', 'STATE']] = acs_s1501.NAME.str.split(',', expand=True)

In [108]:
acs_s1501 = acs_s1501[acs_s1501['COUNTY'] == ' Cook County']

In [109]:
acs_s1501['CENSUS_TRACT'] = acs_s1501.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [110]:
keep = ['S1501_C01_001E', 'S1501_C01_002E', 'S1501_C01_003E', 'S1501_C01_004E', 'S1501_C01_005E', 'S1501_C01_006E', 'S1501_C01_007E', 'S1501_C01_008E', 'S1501_C01_009E', 'S1501_C01_010E', 'S1501_C01_011E', 'S1501_C01_012E', 'S1501_C01_013E', 'S1501_C01_014E', 'S1501_C01_015E','CENSUS_TRACT']

In [111]:
rename = ['TOTAL_POP_18_24', 'TOTAL_POP_18_24_NO_HIGH_SCHOOL', 'TOTAL_POP_18_24_HIGH_SCHOOL', 'TOTAL_POP_18_24_SOME_COLLEGE', 'TOTAL_POP_18_24_SOME_BACHELORS_HIGHER', 'TOTAL_POP_25P', 'TOTAL_POP_25P_LESS_THAN_9TH', 'TOTAL_POP_25P_9TH_TO_12TH', 'TOTAL_POP_25P_HIGH_SCHOOL', 'TOTAL_POP_25P_SOME_COLLEGE', 'TOTAL_POP_25P_ASSOCIATES', 'TOTAL_POP_25P_BACHELORS', 'TOTAL_POP_25P_GRADUATE', 'TOTAL_POP_25P_HIGH_SCHOOL_HIGHER', 'TOTAL_POP_25P_BACHELORS_HIGHER','CENSUS_TRACT']

In [112]:
acs_s1501 = acs_s1501[keep]
acs_s1501.columns = rename

In [113]:
acs_s1901 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Inputs/ACS/2018/ACSST5Y2018.S1901_2020-09-27T220739/ACSST5Y2018.S1901_data_with_overlays_2020-09-27T220734.csv')

In [114]:
acs_s1901.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",2133,134,1116,134,805,153,1017,159,...,(X),(X),(X),(X),(X),(X),(X),(X),34.4,(X)
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",890,65,579,71,385,65,311,65,...,(X),(X),(X),(X),(X),(X),(X),(X),22.2,(X)
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",933,91,593,82,451,86,340,84,...,(X),(X),(X),(X),(X),(X),(X),(X),27.9,(X)
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",1273,128,712,116,441,98,561,116,...,(X),(X),(X),(X),(X),(X),(X),(X),27.1,(X)

In [115]:
acs_s1901[['TRACT', 'COUNTY', 'STATE']] = acs_s1901.NAME.str.split(',', expand=True)

In [116]:
acs_s1901 = acs_s1901[acs_s1901['COUNTY'] == ' Cook County']

In [117]:
acs_s1901['CENSUS_TRACT'] = acs_s1901.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [118]:
keep = ['S1901_C01_002E', 'S1901_C01_003E', 'S1901_C01_004E', 'S1901_C01_005E', 'S1901_C01_006E', 'S1901_C01_007E', 'S1901_C01_008E', 'S1901_C01_009E', 'S1901_C01_010E', 'S1901_C01_011E', 'S1901_C01_012E', 'S1901_C01_012E','CENSUS_TRACT']

In [119]:
rename = ['TOTAL_HHLDS_LESS_10K', 'TOTAL_HHLDS_10K_15K', 'TOTAL_HHLDS_15K_25K', 'TOTAL_HHLDS_25K_35K', 'TOTAL_HHLDS_35K_50K', 'TOTAL_HHLDS_50K_75K', 'TOTAL_HHLDS_75K_100K', 'TOTAL_HHLDS_100K_150K', 'TOTAL_HHLDS_150K_200K', 'TOTAL_HHLDS_200KP', 'HHLDS_MEDIAN_INCOME', 'HHLDS_MEAN_INCOME','CENSUS_TRACT']

In [120]:
acs_s1901 = acs_s1901[keep]
acs_s1901.columns = rename

In [123]:
acs_s1101.head()

,GEO_ID,NAME,S1501_C02_020M,S1501_C03_020E,S1501_C03_020M,S1501_C04_020E,S1501_C04_020M,S1501_C05_020E,S1501_C05_020M,S1501_C06_020E,...,S1501_C03_019M,S1501_C04_019E,S1501_C04_019M,S1501_C05_019E,S1501_C05_019M,S1501_C06_019E,S1501_C06_019M,S1501_C01_020E,S1501_C01_020M,S1501_C02_020E
0,id,Geographic Area Name,Margin of Error!!Percent MOE!!Population 25 ye...,Estimate!!Male!!Population 25 years and over!!...,Margin of Error!!Male MOE!!Population 25 years...,Estimate!!Percent Male!!Population 25 years an...,Margin of Error!!Percent Male MOE!!Population ...,Estimate!!Female!!Population 25 years and over...,Margin of Error!!Female MOE!!Population 25 yea...,Estimate!!Percent Female!!Population 25 years ...,...,Margin of Error!!Male MOE!!Population 25 years...,Estimate!!Percent Male!!Population 25 years an...,Margin of Error!!Percent Male MOE!!Population ...,Estimate!!Female!!Population 25 years and over...,Margin of Error!!Female MOE!!Population 25 yea...,Estimate!!Percent Female!!Population 25 years ...,Margin of Error!!Percent Female MOE!!Populatio...,Estimate!!Total!!Population 25 years and over!...,Margin of Error!!Total MOE!!Population 25 year...,Estimate!!Percent!!Population 25 years and ove...
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",7.3,174,66,100.0,14.6,189,90,100.0,...,66,(X),(X),189,90,(X),(X),363,128,100.0
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",17.6,59,26,100.0,35.2,82,41,100.0,...,26,(X),(X),82,41,(X),(X),141,56,100.0
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",4.5,215,71,96.4,6.4,89,38,100.0,...,70,(X),(X),89,38,(X),(X),304,87,97.4
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",7.7,157,79,82.2,17.7,293,130,97.0,...,81,(X),(X),302,131,(X),(X),450,166,91.3

In [132]:
acs = acs_dp05.merge(acs_s1101, on = 'CENSUS_TRACT', suffixes = ('_DP05', '_S1101'))
acs = acs.merge(acs_s1501, on = 'CENSUS_TRACT', suffixes = ('', '_S1501'))
acs = acs.merge(acs_s1901, on = 'CENSUS_TRACT', suffixes = ('', '_S1901'))

In [133]:
acs.head()

,TOTAL_POP,TOTAL_MALE,TOTAL_FEMALE,AGE_5U,AGE_5_9,AGE+10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,...,TOTAL_HHLDS_15K_25K,TOTAL_HHLDS_25K_35K,TOTAL_HHLDS_35K_50K,TOTAL_HHLDS_50K_75K,TOTAL_HHLDS_75K_100K,TOTAL_HHLDS_100K_150K,TOTAL_HHLDS_150K_200K,TOTAL_HHLDS_200KP,HHLDS_MEDIAN_INCOME,HHLDS_MEAN_INCOME
0,4522,2301,2221,384,253,240,51,431,845,761,...,13.1,10.4,8.5,12.3,10.4,13.8,3.8,2.5,37985,37985
1,7039,3701,3338,480,507,479,430,259,1225,1390,...,12.6,15.1,6.7,22.4,8.0,12.3,1.2,1.6,39549,39549
2,2852,1390,1462,245,122,123,174,178,526,289,...,18.2,13.6,15.2,17.9,8.1,8.8,2.5,1.1,38370,38370
3,6650,3294,3356,351,342,150,267,315,1053,1190,...,7.9,18.7,14.7,13.1,14.2,5.0,3.3,5.3,38866,38866
4,5153,2405,2748,84,232,148,1178,907,839,534,...,12.4,9.2,16.8,15.3,9.3,11.8,3.8,1.4,39152,39152

In [141]:
acs.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/ACS_2019.csv')

In [135]:
len(acs)

1319

In [137]:
len(acs_dp05)

1319

In [138]:
len(acs_s1501)

1319

In [139]:
len(acs_s1901)

1319

In [140]:
len(acs_s1101)

1319