In [1]:
import pandas as pd
import geopandas as gp

In [2]:
tracts = gp.read_file('C:/Workspace/TNC-Demand-Model/Inputs/Census Shapefiles/Illinois/Chicago Tracts/geo_export_558aad9f-98d8-4dd5-a6b1-c1730155d596.shp')

In [3]:
tods = [1,2,3,4,5]

In [4]:
#df = pd.DataFrame()
#df2 = pd.DataFrame()

#for tract in tracts.geoid10:
   # df['DESTINATION'] = tracts.geoid10
   # df['ORIGIN'] = tract
    #df2 = df2.append(df)

In [6]:
df = pd.DataFrame()
df3 = pd.DataFrame()

years = [2018,2019,2020]

for year in years:
    print('Working on year ' + str(year))

    if year == 2018:
        months = [11,12]
    elif year == 2020:
        months = [1,2]
    else:
        months = [1,2,3,4,5,6,7,8,9,10,11,12]
        
    for month in months:
        print('Working on month ' + str(month))

        for tod in tods:
            df2 = pd.DataFrame()

            print('Working on TOD ' + str(tod))

            for tract in tracts.geoid10:
                df['DESTINATION'] = tracts.geoid10
                df['ORIGIN'] = tract
                df2 = df2.append(df)

            df2['MONTH'] = month
            df2['YEAR'] = year
            df2['TOD'] = tod
            #df2.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Empty Matricies/Empty_Chicago_Matrix_' + str(year) + '_' + str(month) + '_' + str(tod) + '.csv')
           
            df3 = df3.append(df2)
df3.to_csv('C:/Workspace/TNC-Demand-Model/Inputs/Chicago Ride-Hailing/Empty_Chicago_Matrix.csv')
print('Complete!')

Working on year 2018
Working on month 11
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 12
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on year 2019
Working on month 1
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 2
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 3
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 4
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 5
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 6
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 7
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 8
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 9
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 10
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 11
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 12
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on year 2020
Working on month 1
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Working on month 2
Working on TOD 1
Working on TOD 2
Working on TOD 3
Working on TOD 4
Working on TOD 5
Complete!

In [7]:
len(df3)

51328080

In [9]:
df3.ORIGIN.value_counts()

17031010201    64080
17031490500    64080
17031411200    64080
17031010702    64080
17031030702    64080
               ...
17031840000    64080
17031390100    64080
17031750100    64080
17031390500    64080
17031240200    64080
Name: ORIGIN, Length: 801, dtype: int64

In [ ]:
#df3.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Empty_Chicago_Matrix.csv')