In [12]:
import geopandas as gp
import pandas as pd
import numpy as np

In [2]:
tracts = gp.read_file('C:/Workspace/TNC-Demand-Model/Inputs/Census Shapefiles/Chicago Tracts/geo_export_558aad9f-98d8-4dd5-a6b1-c1730155d596.shp')

In [3]:
origins = pd.DataFrame()
origins['X'] = tracts.centroid.x
origins['Y'] = tracts.centroid.y

C:\Users\ramu225\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.


C:\Users\ramu225\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
origins['GEOID'] = tracts.geoid10

In [27]:
#had to change the centroid of this census tract because the true centroid is located in the middle of a schol and it messes up 
#the transit travel time calculation

origins.loc[origins['GEOID'] == '17031843700', 'X'] = -87.69079
origins.loc[origins['GEOID'] == '17031843700', 'Y'] = 41.94482

In [30]:
#had to change the centroid of this census tract because the true centroid is located in the middle of a waste water treatment 
#plant and it messes up the transit travel time calculation

origins.loc[origins['GEOID'] == '17031540102', 'X'] = -87.60610
origins.loc[origins['GEOID'] == '17031540102', 'Y'] = 41.65970

In [32]:
origins.to_csv('C:/Workspace/TNC-Demand-Model/otp/points.csv')

In [33]:
centroids = gp.GeoDataFrame(tracts.centroid)
centroids['GEOID'] = tracts.geoid10
centroids.columns = ['geometry','GEOID']

C:\Users\ramu225\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.

In [34]:
com_area = gp.read_file('C:/Workspace/TNC-Demand-Model/Inputs/Chicago Community Areas/geo_export_d8da94d2-4ef1-4ee6-9fff-7bb20d451fe2.shp')

In [35]:
com_area.head()

,area,area_num_1,area_numbe,comarea,comarea_id,community,perimeter,shape_area,shape_len,geometry
0,0.0,35,35,0.0,0.0,DOUGLAS,0.0,4.600462e+07,31027.054510,"POLYGON ((-87.60914 41.84469, -87.60915 41.844..."
1,0.0,36,36,0.0,0.0,OAKLAND,0.0,1.691396e+07,19565.506153,"POLYGON ((-87.59215 41.81693, -87.59231 41.816..."
2,0.0,37,37,0.0,0.0,FULLER PARK,0.0,1.991670e+07,25339.089750,"POLYGON ((-87.62880 41.80189, -87.62879 41.801..."
3,0.0,38,38,0.0,0.0,GRAND BOULEVARD,0.0,4.849250e+07,28196.837157,"POLYGON ((-87.60671 41.81681, -87.60670 41.816..."
4,0.0,39,39,0.0,0.0,KENWOOD,0.0,2.907174e+07,23325.167906,"POLYGON ((-87.59215 41.81693, -87.59215 41.816..."

In [36]:
conflate = gp.sjoin(com_area[['area_num_1','geometry']], centroids[['GEOID','geometry']], how = 'left', op = 'contains' )

C:\Users\ramu225\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: None

  """Entry point for launching an IPython kernel.

In [37]:
conflate.head()

,area_num_1,geometry,index_right,GEOID
0,35,"POLYGON ((-87.60914 41.84469, -87.60915 41.844...",87,17031351500
0,35,"POLYGON ((-87.60914 41.84469, -87.60915 41.844...",453,17031351400
0,35,"POLYGON ((-87.60914 41.84469, -87.60915 41.844...",231,17031839600
0,35,"POLYGON ((-87.60914 41.84469, -87.60915 41.844...",572,17031351100
0,35,"POLYGON ((-87.60914 41.84469, -87.60915 41.844...",202,17031839500

In [38]:
conflate = conflate.drop(columns = ['geometry', 'index_right'])

In [39]:
add_ons = {'area_num_1':[ 53, 75, 43,43,43, 39, 41, 41, 41, 36, 8, 76, 76, 10, 1, 8], 'GEOID':[17031821402, 17031823304, 17031431400, 17031430700, 17031430102, 17031390700, 17031411000, 17031410900, 17031410100, 17031836400,17031081403, 17031770602, 17031770902, 17031810400, 17031010400, 17031081202 ]}

In [40]:
add_on_df = pd.DataFrame(add_ons)

In [41]:
add_on_df.head()

   area_num_1        GEOID
0          53  17031821402
1          75  17031823304
2          43  17031431400
3          43  17031430700
4          43  17031430102

In [42]:
conflate = conflate.append(add_on_df)

In [27]:
conflate.to_csv('C:/Workspace/TNC-Demand-Model/Inputs/Chicago Community Areas/Community_Area_to_Census_Tract.csv')