In [1]:
import pandas as pd
import numpy as np
import sys 
import datetime
import os
import matplotlib as plt

%matplotlib inline

In [2]:
store = pd.HDFStore('C:/Workspace/TNC-Demand-Model/Outputs/Chicago_TNC_Trips_20.H5')

In [3]:
years = [2018,2019,2020]
tods = [1,2,3,4,5]

In [4]:
df2 = pd.DataFrame()

for year in years:
    if year == 2018:
        months = [11,12]
    elif year == 2019:
        months = [1,2,3,4,5,6,7,8,9,10,11,12]
    elif year == 2020:
        months = [1,2]
    else:
        print('Bad year!')
        
    for month in months:
        print('Working on month ' + str(month))
       
        for tod in tods:
            print('working on tod ' + str(tod))

            print('selecting data')
            df = store.select(where = ['YEAR == year','MONTH == month'], key = 'Weekday_' + str(tod))
            df['DAY'] = df['TRIP_START_TIME'].dt.day

            df = df[df['SHARED_FLAGGER'] == 1]
            df['REQUESTS'] = 1

            print('processing data')
            df = df.groupby(by = ['ORIGIN','DESTINATION','MONTH','YEAR','DAY'], as_index = False).sum()
            df['TOD'] = tod

            if tod == 1:
                df['REQUESTS_PER_HOUR'] = df['REQUESTS']/8

            elif tod == 2:
                df['REQUESTS_PER_HOUR'] = df['REQUESTS']/3

            elif tod == 3:
                df['REQUESTS_PER_HOUR'] = df['REQUESTS']/7

            elif tod == 4:
                df['REQUESTS_PER_HOUR'] = df['REQUESTS']/3

            elif tod == 5:
                df['REQUESTS_PER_HOUR'] = df['REQUESTS']/3

            else:
                print('Bad TOD!')

            df2 = df2.append(df)

Working on month 11
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 12
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 1
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 2
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 3
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 4
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 5
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 6
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 7
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 8
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 9
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 10
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 11
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 12
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 1
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data
Working on month 2
working on tod 1
selecting data
processing data
working on tod 2
selecting data
processing data
working on tod 3
selecting data
processing data
working on tod 4
selecting data
processing data
working on tod 5
selecting data
processing data

In [5]:
df.columns

Index(['ORIGIN', 'DESTINATION', 'MONTH', 'YEAR', 'DAY', 'DOW', 'HOUR',
       'TRAVEL_TIME_MINUTES', 'TRIP_LENGTH_MILES', 'ORIGIN_COM_AREA',
       'DEST_COM_AREA', 'FARE', 'TIP', 'ADDITIONAL_CHARGES', 'TOTAL_COST',
       'SHARED_FLAGGER', 'NUM_TRIPS_POOLED', 'SPEED',
       'INTERNAL_UNSUPPRESSED_FLAGGER', 'INTERNAL_SUPPPRESSED_FLAGGER',
       'EXTERNAL_FLAGGER', 'INTERNAL_EXTERNAL_FLAGGER', 'REQUESTS', 'TOD',
       'REQUESTS_PER_HOUR'],
      dtype='object')

In [6]:
df2.head()

,ORIGIN,DESTINATION,MONTH,YEAR,DAY,DOW,HOUR,TRAVEL_TIME_MINUTES,TRIP_LENGTH_MILES,ORIGIN_COM_AREA,...,SHARED_FLAGGER,NUM_TRIPS_POOLED,SPEED,INTERNAL_UNSUPPRESSED_FLAGGER,INTERNAL_SUPPPRESSED_FLAGGER,EXTERNAL_FLAGGER,INTERNAL_EXTERNAL_FLAGGER,REQUESTS,TOD,REQUESTS_PER_HOUR
0,1.703101e+10,1.703101e+10,11,2018,1,3,23,22.066667,5.9,21.0,...,1,4.0,16.042296,0,1,0,0,1,1,0.125
1,1.703101e+10,1.703101e+10,11,2018,2,4,22,7.150000,1.9,38.0,...,1,1.0,15.944056,0,1,0,0,1,1,0.125
2,1.703101e+10,1.703101e+10,11,2018,5,0,48,27.550000,10.1,97.0,...,3,6.0,54.295105,1,2,0,0,3,1,0.375
3,1.703101e+10,1.703101e+10,11,2018,6,4,12,53.366667,23.3,159.0,...,4,6.0,95.215077,0,4,0,0,4,1,0.500
4,1.703101e+10,1.703101e+10,11,2018,7,2,23,25.416667,9.5,8.0,...,1,3.0,22.426230,0,1,0,0,1,1,0.125

In [7]:
df2 = df2.groupby(by = ['ORIGIN','DESTINATION','TOD'], as_index = False).mean()

In [8]:
df2[['REQUESTS_PER_HOUR','ORIGIN','DESTINATION','TOD']].to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Requests_Per_Hour.csv')

In [10]:
len(df2)

921219