In [8]:
import pandas as pd
import geopandas as gp

In [9]:
tracts = gp.read_file('C:/Workspace/TNC-Demand-Model/Inputs/Census Shapefiles/Illinois/Chicago Tracts/geo_export_558aad9f-98d8-4dd5-a6b1-c1730155d596.shp')

In [11]:
years = [2018,2019,2020]

In [34]:
df5 = pd.DataFrame()

for year in years:
    print('Working on year ' + str(year))
    if year == 2018:
        months = [11,12]
        
    elif year == 2019:
        months = [1,2,3,4,5,6,7,8,9,10,11,12]
    
    elif year == 2020:
        months = [1,2]
    
    else:
        print('Bad Year!')
        
    
    for month in months:
        df2 = pd.DataFrame()
        df3 = pd.DataFrame()
        print('Working on month ' + str(month))


        for tract in tracts.geoid10:
            df['DESTINATION'] = tracts.geoid10
            df['ORIGIN'] = tract

            df2 = df2.append(df)
        df2['MONTH'] = month 
        
        df3 = df3.append(df2)
    df3['YEAR'] = year
    df4 = df4.append(df3)

Working on year 2018
Working on month 11
Working on month 12
Working on year 2019
Working on month 1
Working on month 2
Working on month 3
Working on month 4
Working on month 5
Working on month 6
Working on month 7
Working on month 8
Working on month 9
Working on month 10
Working on month 11
Working on month 12
Working on year 2020
Working on month 1
Working on month 2

In [35]:
len(df4)

35930457

In [36]:
df4.head()

   DESTINATION       ORIGIN  MONTH  YEAR
0  17031842400  17031630900      2  2018
1  17031840300  17031630900      2  2018
2  17031841100  17031630900      2  2018
3  17031841200  17031630900      2  2018
4  17031839000  17031630900      2  2018

In [38]:
df4.ORIGIN.value_counts()/16

17031630900    2853.5625
17031130200    2803.5000
17031836700    2803.5000
17031150501    2803.5000
17031832500    2803.5000
                 ...
17031420600    2803.5000
17031100400    2803.5000
17031431301    2803.5000
17031460301    2803.5000
17031280900    2803.5000
Name: ORIGIN, Length: 801, dtype: float64