In [71]:
import pandas as pd
import geopandas as gp

# Create monthly OD Matricies

In [72]:
area = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Census_Tracts_Area.csv', index_col = 0)
acs = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Chicago_ACS_Data.csv', index_col = 0)
lehd = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/CHI_WAC.csv', index_col = 0)

In [73]:
lehd['TEMP'] = lehd['CNS01'] + lehd['CNS02'] + lehd['CNS03'] + lehd['CNS04'] + lehd['CNS05'] + lehd['CNS06'] + lehd['CNS07'] + lehd['CNS08'] + lehd['CNS09'] + lehd['CNS10'] + lehd['CNS11'] + lehd['CNS12'] + lehd['CNS13'] + lehd['CNS14'] + lehd['CNS15'] + lehd['CNS16'] + lehd['CNS17'] + lehd['CNS18'] + lehd['CNS19'] + lehd['CNS20']
lehd['TO_EMP'] = lehd['CNS01'] + lehd['CNS02'] + lehd['CNS03'] + lehd['CNS04'] + lehd['CNS05'] + lehd['CNS06'] + lehd['CNS08'] + lehd['CNS09'] + lehd['CNS10'] + lehd['CNS11'] + lehd['CNS12'] + lehd['CNS13'] + lehd['CNS14'] + lehd['CNS15'] + lehd['CNS16'] + lehd['CNS17'] + lehd['CNS19'] + lehd['CNS20']
lehd['TR_EMP'] = lehd['CNS07']
lehd['TF_EMP'] = lehd['CNS18'] 

acs = acs.groupby(by = ['YEAR','MONTH','CENSUS_TRACT'], as_index = False).first()

In [74]:
for col in acs.columns:
    print(col)

YEAR
MONTH
CENSUS_TRACT
TOD
TOTAL_POP
TOTAL_MALE
TOTAL_FEMALE
AGE_5U
AGE_5_9
AGE_10_14
AGE_15_19
AGE_20_24
AGE_25_34
AGE_35_44
AGE_45_54
AGE_55_59
AGE_60_64
AGE_65_74
AGE_75_84
AGE_85P
MEDIAN_AGE
TOTAL_HHLDS
AVG_HHLD_SIZE
AVG_FAMILY_SIZE
TOTAL_POP_18_24
TOTAL_POP_18_24_NO_HIGH_SCHOOL
TOTAL_POP_18_24_HIGH_SCHOOL
TOTAL_POP_18_24_SOME_COLLEGE
TOTAL_POP_18_24_SOME_BACHELORS_HIGHER
TOTAL_POP_25P
TOTAL_POP_25P_LESS_THAN_9TH
TOTAL_POP_25P_9TH_TO_12TH
TOTAL_POP_25P_HIGH_SCHOOL
TOTAL_POP_25P_SOME_COLLEGE
TOTAL_POP_25P_ASSOCIATES
TOTAL_POP_25P_BACHELORS
TOTAL_POP_25P_GRADUATE
TOTAL_POP_25P_HIGH_SCHOOL_HIGHER
TOTAL_POP_25P_BACHELORS_HIGHER
TOTAL_HHLDS_LESS_10K
TOTAL_HHLDS_10K_15K
TOTAL_HHLDS_15K_25K
TOTAL_HHLDS_25K_35K
TOTAL_HHLDS_35K_50K
TOTAL_HHLDS_50K_75K
TOTAL_HHLDS_75K_100K
TOTAL_HHLDS_100K_150K
TOTAL_HHLDS_150K_200K
TOTAL_HHLDS_200KP
HHLDS_MEDIAN_INCOME
HHLDS_MEAN_INCOME
HHLDS_0_VEH
HHLDS_1_VEH
HHLDS_2_VEH
HHLDS_3P_VEH
AVG_VEH_PER_HHLD

In [75]:
acs['TOTAL_HHLDS_MORE_100K'] = acs['TOTAL_HHLDS_100K_150K'] + acs['TOTAL_HHLDS_150K_200K'] + acs['TOTAL_HHLDS_200KP']
acs['TOTAL_HHLDS_35K_100K'] = acs['TOTAL_HHLDS_35K_50K'] + acs['TOTAL_HHLDS_50K_75K'] + acs['TOTAL_HHLDS_75K_100K']
acs['TOTAL_HHLDS_LESS_35K'] = acs['TOTAL_HHLDS_LESS_10K'] + acs['TOTAL_HHLDS_10K_15K'] + acs['TOTAL_HHLDS_15K_25K'] + acs['TOTAL_HHLDS_25K_35K']


acs['SHR_HHLDS_MORE_100K'] = acs['TOTAL_HHLDS_MORE_100K']/acs['TOTAL_HHLDS']
acs['SHR_HHLDS_35K_100K'] = acs['TOTAL_HHLDS_35K_50K']/acs['TOTAL_HHLDS']
acs['SHR_HHLDS_LESS_35K'] = acs['TOTAL_HHLDS_LESS_35K']/acs['TOTAL_HHLDS']

In [76]:
acs.columns

Index(['YEAR', 'MONTH', 'CENSUS_TRACT', 'TOD', 'TOTAL_POP', 'TOTAL_MALE',
       'TOTAL_FEMALE', 'AGE_5U', 'AGE_5_9', 'AGE_10_14', 'AGE_15_19',
       'AGE_20_24', 'AGE_25_34', 'AGE_35_44', 'AGE_45_54', 'AGE_55_59',
       'AGE_60_64', 'AGE_65_74', 'AGE_75_84', 'AGE_85P', 'MEDIAN_AGE',
       'TOTAL_HHLDS', 'AVG_HHLD_SIZE', 'AVG_FAMILY_SIZE', 'TOTAL_POP_18_24',
       'TOTAL_POP_18_24_NO_HIGH_SCHOOL', 'TOTAL_POP_18_24_HIGH_SCHOOL',
       'TOTAL_POP_18_24_SOME_COLLEGE', 'TOTAL_POP_18_24_SOME_BACHELORS_HIGHER',
       'TOTAL_POP_25P', 'TOTAL_POP_25P_LESS_THAN_9TH',
       'TOTAL_POP_25P_9TH_TO_12TH', 'TOTAL_POP_25P_HIGH_SCHOOL',
       'TOTAL_POP_25P_SOME_COLLEGE', 'TOTAL_POP_25P_ASSOCIATES',
       'TOTAL_POP_25P_BACHELORS', 'TOTAL_POP_25P_GRADUATE',
       'TOTAL_POP_25P_HIGH_SCHOOL_HIGHER', 'TOTAL_POP_25P_BACHELORS_HIGHER',
       'TOTAL_HHLDS_LESS_10K', 'TOTAL_HHLDS_10K_15K', 'TOTAL_HHLDS_15K_25K',
       'TOTAL_HHLDS_25K_35K', 'TOTAL_HHLDS_35K_50K', 'TOTAL_HHLDS_50K_75K',
       'TOTAL_HHLDS_75K_100K', 'TOTAL_HHLDS_100K_150K',
       'TOTAL_HHLDS_150K_200K', 'TOTAL_HHLDS_200KP', 'HHLDS_MEDIAN_INCOME',
       'HHLDS_MEAN_INCOME', 'HHLDS_0_VEH', 'HHLDS_1_VEH', 'HHLDS_2_VEH',
       'HHLDS_3P_VEH', 'AVG_VEH_PER_HHLD', 'TOTAL_HHLDS_MORE_100K',
       'TOTAL_HHLDS_35K_100K', 'TOTAL_HHLDS_LESS_35K', 'SHR_HHLDS_MORE_100K',
       'SHR_HHLDS_35K_100K', 'SHR_HHLDS_LESS_35K'],
      dtype='object')

In [77]:
acs['T20_35'] = acs['AGE_20_24'] + acs['AGE_25_34']
acs['T35_65'] = acs['AGE_35_44'] + acs['AGE_45_54'] + acs['AGE_55_59'] + acs['AGE_60_64']
acs['T65P'] = acs['AGE_65_74'] + acs['AGE_75_84'] + acs['AGE_85P']


acs['P20_35'] = (acs['T20_35']/acs['TOTAL_POP'])*100
acs['P35_65'] = (acs['T35_65']/acs['TOTAL_POP'])*100
acs['P65P'] = (acs['T65P']/acs['TOTAL_POP'])*100

In [78]:
#acs['SHR_HHLDS_0_VEH'] = acs['HHLDS_0_VEH']/acs['TOTAL_HHLDS']

In [79]:
acs['PBA_P'] = (acs['TOTAL_POP_25P_BACHELORS_HIGHER']/acs['TOTAL_POP'])*100

In [80]:
acs['TBA_P'] = acs['TOTAL_POP_25P_BACHELORS_HIGHER']

In [82]:
acs['ME_INC'] = acs['HHLDS_MEDIAN_INCOME']
acs['ME_AGE'] = acs['MEDIAN_AGE']

In [83]:
acs['TPOP'] = acs['TOTAL_POP']
acs['THHLDS'] = acs['TOTAL_HHLDS']

In [84]:
years = [2018,2019,2020]

In [85]:
for year in years:

    print('Working on year ' + str(year))
    if year == 2018:
        months = [11,12]
    elif year == 2020:
        months = [1,2]
    else:
        months = [1,2,3,4,5,6,7,8,9,10,11,12]

    for month in months:
        print('Working on month ' + str(month))
        
        df =  pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Empty Matricies/Empty_Chicago_Matrix_' + str(year) + '_'+ str(month) + '_1.csv', index_col = 0)
        df['TRACTCE10'] = df.DESTINATION.astype(str)
        df['TRACTCE10'] = df['TRACTCE10'].apply(lambda x : x[5:11])
        df['TRACTCE10'] = df['TRACTCE10'].astype(int)
        df = lehd.merge(df, how = 'right', on = ['TRACTCE10','MONTH','YEAR'])
        df = df.merge(acs, how = 'left', left_on = ['DESTINATION','YEAR','MONTH'], right_on = ['CENSUS_TRACT','YEAR','MONTH'])
        df = df.merge(area[['CENSUS_TRACT','AREA_SQ_MI']], how = 'left', on = ['CENSUS_TRACT'])
        df['TE_P'] = df['TEMP'] + df['TPOP']
        df['DE_P'] = df['TE_P']/df['AREA_SQ_MI']
        
        df['D_E'] = df['TEMP']/df['AREA_SQ_MI']
        df['D_P'] = df['TPOP']/df['AREA_SQ_MI']
        df['D_H'] = df['THHLDS']/df['AREA_SQ_MI']
        
        
        df = df.fillna(0)
        
        df[['ORIGIN','T20_35','P20_35','T35_65','P35_65','T65P','P65P','TBA_P','PBA_P','ME_INC','ME_AGE','DESTINATION','MONTH','YEAR','D_P','D_E','D_H','TE_P','DE_P','TO_EMP','TR_EMP','TF_EMP']].to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Demand Variables/' + str(year) + '_' + str(month) + '_Demand_Variables.csv')

Working on year 2018
Working on month 11
Working on month 12
Working on year 2019
Working on month 1
Working on month 2
Working on month 3
Working on month 4
Working on month 5
Working on month 6
Working on month 7
Working on month 8
Working on month 9
Working on month 10
Working on month 11
Working on month 12
Working on year 2020
Working on month 1
Working on month 2

In [58]:
dropoffs_1 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Estimated_Dropoffs_TOD_1.csv')
dropoffs_2  = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Estimated_Dropoffs_TOD_2.csv')
dropoffs_3  = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Estimated_Dropoffs_TOD_3.csv')
dropoffs_4  = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Estimated_Dropoffs_TOD_4.csv')
dropoffs_5  = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Estimated_Dropoffs_TOD_5.csv')

In [59]:
dropoffs = dropoffs_1.append(dropoffs_2)

In [60]:
dropoffs = dropoffs.append(dropoffs_3)

In [61]:
dropoffs = dropoffs.append(dropoffs_4)

In [62]:
dropoffs = dropoffs.append(dropoffs_5)

In [63]:
df =  pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Empty Matricies/Empty_Chicago_Matrix_2018_12_1.csv')

In [64]:
dropoffs_5.head()

   Unnamed: 0  YEAR  MONTH  TOD  DESTINATION  DROPOFFS_AVG  PRED_DROPOFFS
0        3204  2018     11    5  17031010100      0.272727       0.369219
1        3205  2018     11    5  17031010201      0.500000       0.445932
2        3206  2018     11    5  17031010202      0.363636       0.203022
3        3207  2018     11    5  17031010300      0.818182       0.645891
4        3208  2018     11    5  17031010400      1.000000       1.079589

# USE THIS TO CALCULATE OBS and PRED AVG WEEKDAY DROPOFFS

## SWITCH INPUTS AND OUTPUT FILENAME

In [70]:
tods = [1,2,3,4,5]
for year in years:

    print('Working on year ' + str(year))
    if year == 2018:
        months = [11,12]
    elif year == 2020:
        months = [1,2]
    else:
        months = [1,2,3,4,5,6,7,8,9,10,11,12]

    for month in months:
        print('Working on month ' + str(month))
        
        for tod in tods:
            
            df =  pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Empty Matricies/Empty_Chicago_Matrix_' + str(year) + '_'+ str(month) + '_' + str(tod) + '.csv', index_col = 0)
            
            df = dropoffs.merge(df[['ORIGIN','DESTINATION','MONTH','YEAR','TOD']], how = 'right', on = ['DESTINATION','MONTH','YEAR','TOD'])

            df = df.fillna(0)

            df.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Estimated Dropoffs/' + str(year) + '_' + str(month) + '_' + str(tod) + '_Dropoffs.csv')

Working on year 2018
Working on month 11
Working on month 12
Working on year 2019
Working on month 1
Working on month 2
Working on month 3
Working on month 4
Working on month 5
Working on month 6
Working on month 7
Working on month 8
Working on month 9
Working on month 10
Working on month 11
Working on month 12
Working on year 2020
Working on month 1
Working on month 2

In [45]:
import numpy as np

In [ ]:
lehd_od = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/CHI_LEHD_OD.csv', index_col = 0)

In [ ]:
lehd_od['TOTAL_EMP_FLOW'] = lehd_od['SI01'] + lehd_od['SI02'] + lehd_od['SI03']

In [ ]:
#fill lehd missing values with 0 because it is census tracts without data (without employment)
lehd_od['TOTAL_EMP_ORIGIN'] = lehd_od['TOTAL_EMP_FLOW'].fillna(0)
lehd_od['TOTAL_EMP_DESTINATION'] = lehd_od['TOTAL_EMP_FLOW'].fillna(0)
lehd_od['TOTAL_EMP_FLOW'] = lehd_od['TOTAL_EMP_FLOW'].fillna(0)

In [ ]:
lehd_od.head()

In [ ]:
#df = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Empty Matricies/Empty_Chicago_Matrix_2018_11_1.csv',index_col = 0)

In [52]:
#df = df[['ORIGIN','DESTINATION']]

In [53]:
#df['TRACTCE10_PICKUP'] = df.ORIGIN.astype(str)
#df['TRACTCE10_PICKUP'] = df['TRACTCE10_PICKUP'].apply(lambda x : x[5:11])
#df['TRACTCE10_PICKUP'] = df['TRACTCE10_PICKUP'].astype(int)
#df['TRACTCE10_DEST'] = df.DESTINATION.astype(str)
#df['TRACTCE10_DEST'] = df['TRACTCE10_DEST'].apply(lambda x : x[5:11])
#df['TRACTCE10_DEST'] = df['TRACTCE10_DEST'].astype(int)

In [54]:
#df = df.merge(lehd_od, how = 'right', on = ['TRACTCE10_PICKUP','TRACTCE10_DEST'])

In [126]:
lehd_od = lehd_od.drop(['TOTAL_EMP_ORIGIN','TOTAL_EMP_DESTINATION'], axis = 1)

KeyError: "['TOTAL_EMP_ORIGIN' 'TOTAL_EMP_DESTINATION'] not found in axis"

In [150]:
years = [2018,2019,2020]

for year in years:
    print('Working on year ' + str(year))

    if year == 2018:
        months = [11,12]
    elif year == 2020:
        months = [1,2]
    else:
        months = [1,2,3,4,5,6,7,8,9,10,11,12]
        
    for month in months:
        print('Working on month ' + str(month))
        df = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Empty Matricies/Empty_Chicago_Matrix_' + str(year) + '_' + str(month) + '_1.csv',index_col = 0)
        df = df.drop('TOD',axis = 1)
        
        df['TRACTCE10_PICKUP'] = df.ORIGIN.astype(str)
        df['TRACTCE10_PICKUP'] = df['TRACTCE10_PICKUP'].apply(lambda x : x[5:11])
        df['TRACTCE10_PICKUP'] = df['TRACTCE10_PICKUP'].astype(int)
        df['TRACTCE10_DEST'] = df.DESTINATION.astype(str)
        df['TRACTCE10_DEST'] = df['TRACTCE10_DEST'].apply(lambda x : x[5:11])
        df['TRACTCE10_DEST'] = df['TRACTCE10_DEST'].astype(int)

        df = df.merge(lehd_od, how = 'left', on = ['TRACTCE10_PICKUP','TRACTCE10_DEST','YEAR','MONTH'])
        df = df.drop(['TRACTCE10_PICKUP','TRACTCE10_DEST'],axis = 1)
        
        df['TOTAL_EMP_FLOW'] = df['TOTAL_EMP_FLOW'].fillna(0)
        df['SI01'] = df['SI01'].fillna(0)
        df['SI02'] = df['SI02'].fillna(0)
        df['SI03'] = df['SI03'].fillna(0)

        df.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Employment Flows/Employment_Flow_'+ str(year) + '_' + str(month) + '.csv')

Working on year 2018
Working on month 11
Working on month 12
Working on year 2019
Working on month 1
Working on month 2
Working on month 3
Working on month 4
Working on month 5
Working on month 6
Working on month 7
Working on month 8
Working on month 9
Working on month 10
Working on month 11
Working on month 12
Working on year 2020
Working on month 1
Working on month 2

In [141]:
df.columns

Index(['DESTINATION', 'ORIGIN', 'MONTH', 'YEAR', 'TRACTCE10_PICKUP',
       'TRACTCE10_DEST', 'SI01', 'SI02', 'SI03', 'TOTAL_EMP_FLOW'],
      dtype='object')

In [129]:
df.TOD.unique()

array([1], dtype=int64)

In [116]:
len(df['DESTINATION'].unique())

801