In [32]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Empty Matricies/Empty_Chicago_Matrix_2018_11_1.csv',index_col = 0)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Workspace/TNC-Demand-Model/Outputs/Empty Matricies/Empty_Chicago_Matrix_2018_11_1.csv'

In [3]:
len(df)

NameError: name 'df' is not defined

In [4]:
df.head()

NameError: name 'df' is not defined

In [5]:
otp = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/OTP Travel Times/Car/20190605/traveltime_matrix_0-29.csv')

In [6]:
otp['ORIGIN'] = otp.origin.astype(float)
otp['DESTINATION'] = otp.destination.astype(float)

In [7]:
dist = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Distance_Matrix.csv', index_col = 0)

In [8]:
dist.head()

             DESTINATION  DISTANCE
ORIGIN
17031842400  17031842400  0.000000
17031842400  17031840300  6.739847
17031842400  17031841100  7.494828
17031842400  17031841200  8.275904
17031842400  17031839000  8.873522

In [9]:
acs = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Chicago_ACS_Data.csv',index_col = 0)

In [10]:
acs.head()

,YEAR,MONTH,TOD,CENSUS_TRACT,TOTAL_POP,TOTAL_MALE,TOTAL_FEMALE,AGE_5U,AGE_5_9,AGE_10_14,...,TOTAL_HHLDS_100K_150K,TOTAL_HHLDS_150K_200K,TOTAL_HHLDS_200KP,HHLDS_MEDIAN_INCOME,HHLDS_MEAN_INCOME,HHLDS_0_VEH,HHLDS_1_VEH,HHLDS_2_VEH,HHLDS_3P_VEH,AVG_VEH_PER_HHLD
0,2018,11,1,17031010100,4522.0,2301.0,2221.0,384.0,253.0,240.0,...,13.8,3.8,2.5,37985.0,56105.0,1162.0,788.0,344.0,22.0,0.665803
1,2018,11,1,17031010201,7039.0,3701.0,3338.0,480.0,507.0,479.0,...,12.3,1.2,1.6,39549.0,61626.0,751.0,1317.0,521.0,99.0,0.988095
2,2018,11,1,17031010202,2852.0,1390.0,1462.0,245.0,122.0,123.0,...,8.8,2.5,1.1,38370.0,49615.0,464.0,449.0,169.0,20.0,0.768603
3,2018,11,1,17031010300,6650.0,3294.0,3356.0,351.0,342.0,150.0,...,5.0,3.3,5.3,38866.0,69967.0,993.0,1344.0,613.0,87.0,0.932170
4,2018,11,1,17031010400,5153.0,2405.0,2748.0,84.0,232.0,148.0,...,11.8,3.8,1.4,39152.0,54235.0,655.0,1089.0,194.0,0.0,0.762126

In [11]:
df3 = df.merge(otp[['origin','destination','walk_distance','travel_time']], how = 'left', left_on = ['ORIGIN','DESTINATION'], right_on = ['origin','destination'])

NameError: name 'df' is not defined

In [ ]:
df3 = df3.merge(acs[['HHLDS_MEDIAN_INCOME','YEAR','MONTH','TOD','CENSUS_TRACT']], how = 'left', left_on = ['YEAR','MONTH','TOD','ORIGIN'], right_on = ['YEAR','MONTH','TOD','CENSUS_TRACT'])
df3 = df3.merge(acs[['HHLDS_MEDIAN_INCOME','YEAR','MONTH','TOD','CENSUS_TRACT']], how = 'left', left_on = ['YEAR','MONTH','TOD','DESTINATION'], right_on = ['YEAR','MONTH','TOD','CENSUS_TRACT'], suffixes = ('_ORIGIN','_DESTINATION'))

In [ ]:
df3 = df3.merge(dist, how = 'left', on = ['ORIGIN','DESTINATION'])

In [ ]:
df3['OTP_AUTO_TRAVEL_TIME'] = df3['travel_time']/60

In [12]:
def set_private_travel_time(row):
    if row['TOD'] == 1:
        row['PRIVATE_TRAVEL_TIME'] =  row['OTP_AUTO_TRAVEL_TIME']*0.8489
        
    elif row['TOD'] == 2:
        row['PRIVATE_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.1825
        
    elif row['TOD'] == 3:
        row['PRIVATE_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.1331
        
    elif row['TOD'] == 4:
        row['PRIVATE_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.2906
        
    elif row['TOD'] == 5:
        row['PRIVATE_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*0.9292
        
    else:
        print('Bad Row!')
        
    return row

In [13]:
df3 = df3.apply(lambda row: set_private_travel_time(row), axis = 1)

NameError: name 'df3' is not defined

In [14]:
def set_shared_travel_time(row):
    if row['TOD'] == 1:
        row['SHARED_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.0293
        
    elif row['TOD'] == 2:
        row['SHARED_TRAVEL_TIME'] =  row['OTP_AUTO_TRAVEL_TIME']*1.3786
        
    elif row['TOD'] == 3:
        row['SHARED_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.2462
        
    elif row['TOD'] == 4:
        row['SHARED_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.4132
        
    elif row['TOD'] == 5:
        row['SHARED_TRAVEL_TIME'] =  row['OTP_AUTO_TRAVEL_TIME']*1.1053
        
    else:
        print('Bad Row!')
        
    return row

In [15]:
df3 = df3.apply(lambda row: set_shared_travel_time(row), axis = 1)

NameError: name 'df3' is not defined

In [16]:
df3['PRIVATE_FARE'] =  1.9035 + df3['PRIVATE_TRAVEL_TIME']*0.2892 + df3['DISTANCE']*0.8822

NameError: name 'df3' is not defined

In [17]:
df3['SHARED_FARE'] =  2.6496 + 0.06*df3['SHARED_TRAVEL_TIME'] + 0.7349*df3['DISTANCE']

NameError: name 'df3' is not defined

In [18]:
 df3['YEAR']

NameError: name 'df3' is not defined

In [19]:
df3['YEAR_MONTH'] = df3['MONTH'] + df3['YEAR']*100

NameError: name 'df3' is not defined

In [20]:
def set_shared_fare(row):
    if row['YEAR_MONTH'] == 201811:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9358
        
    elif row['YEAR_MONTH'] == 201812:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9408
    
    elif row['YEAR_MONTH'] == 201901:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9392
    
    elif row['YEAR_MONTH'] == 201902:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9414
    
    elif row['YEAR_MONTH'] == 201903:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9270
    
    elif row['YEAR_MONTH'] == 201904:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9817
    
    elif row['YEAR_MONTH'] == 201905:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.0219
    
    elif row['YEAR_MONTH'] == 201906:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.05634
    
    elif row['YEAR_MONTH'] == 201907:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.0708
    
    elif row['YEAR_MONTH'] == 201908:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.09
    
    elif row['YEAR_MONTH'] == 201909:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.1179
    
    elif row['YEAR_MONTH'] == 201910:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.0129
    
    elif row['YEAR_MONTH'] == 201911:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9906
    
    elif row['YEAR_MONTH'] == 201912:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.0042
    
    elif row['YEAR_MONTH'] == 202001:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.011
    
    elif row['YEAR_MONTH'] == 202002:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.1003
        
    else:
        print('Bad Row!')
        
    return row

In [21]:
df3['YEAR_MONTH']

NameError: name 'df3' is not defined

In [22]:
df3 = df3.apply(lambda row: set_shared_fare(row), axis = 1)

NameError: name 'df3' is not defined

In [23]:
tourist_tracts = [17031980100, 17031835200, 17031770602, 17031081402, 17031330100, 17031841000]

In [24]:
downtown_tracts = [17031839000,
17031080202,
17031839100,
17031081201,
17031838300,
17031081401,
17031081300,
17031081100,
17031081000,
17031081900,
17031081500,
17031081600,
17031081700,
17031280100,
17031842200,
17031080400,
17031080300,
17031080201,
17031080100,
17031081202,
17031081403,
17031081402,
17031320100,
17031320400,
17031320600,
17031841900,
17031281900,
17031833100,
17031833000,
17031243400,
17031243500,
17031081800,
17031243300]

In [25]:
#set the tax for trips with both ends outside of tourist zone during 2018
df3['SHARED_TAX'] = np.where(df3['YEAR'] == 2018, 0.67, np.nan)
df3['PRIVATE_TAX'] = np.where(df3['YEAR'] == 2018, 0.67, np.nan)

#set the tax for trips with broth ends outside of trouist zone during 2019
df3['SHARED_TAX'] = np.where(df3['YEAR'] == 2019, 0.72, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where(df3['YEAR'] == 2019, 0.72, df3['PRIVATE_TAX'])

#set the tax for trips with at least one end within the tourist zone during 2019 and 2018
df3['SHARED_TAX'] = np.where((df3['ORIGIN'].isin(tourist_tracts))|(df3['DESTINATION'].isin(tourist_tracts)), 5, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where((df3['ORIGIN'].isin(tourist_tracts))|(df3['DESTINATION'].isin(tourist_tracts)), 5, df3['PRIVATE_TAX'])

                              
#set the tax for trips with both trip ends outside of the downtown zone during 2020
df3['SHARED_TAX'] = np.where((df3['YEAR'] == 2020), 0.65, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where((df3['YEAR'] == 2020), 1.25, df3['PRIVATE_TAX'])

                              
#set the tax with at least one trip end within the downtown zone for 2020
df3['SHARED_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(downtown_tracts)), 1.25, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(downtown_tracts)), 3, df3['PRIVATE_TAX'])
                              
df3['SHARED_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(downtown_tracts)), 1.25, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(downtown_tracts)), 3, df3['PRIVATE_TAX'])

                              
#set the tax for trips with at least one trip end within a tourist zone for 2020                       
df3['SHARED_TAX'] = np.where((df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(tourist_tracts)), 5.65, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where((df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(tourist_tracts)), 6.25, df3['PRIVATE_TAX'])

df3['SHARED_TAX'] = np.where((df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(tourist_tracts)), 5.65, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where((df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(tourist_tracts)), 6.25, df3['PRIVATE_TAX'])
                              
                              
#set the tax with one trip end in the downtown zone and the other trip end in a tourist zone for 2020
df3['SHARED_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(downtown_tracts))&(df3['ORIGIN'].isin(tourist_tracts)), 6.25, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(downtown_tracts))&(df3['ORIGIN'].isin(tourist_tracts)), 8, df3['PRIVATE_TAX'])

df3['SHARED_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(downtown_tracts))&(df3['DESTINATION'].isin(tourist_tracts)), 6.25, df3['SHARED_TAX'])
df3['PRIVATE_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(downtown_tracts))&(df3['DESTINATION'].isin(tourist_tracts)), 8, df3['PRIVATE_TAX'])

NameError: name 'df3' is not defined

In [26]:
df3.PRIVATE_TRAVEL_TIME = df3.PRIVATE_TRAVEL_TIME.astype(float)
df3.SHARED_TRAVEL_TIME = df3.SHARED_TRAVEL_TIME.astype(float)

NameError: name 'df3' is not defined

In [27]:
df3['HHLDS_MEDIAN_INCOME_ORIGIN'] = df3['HHLDS_MEDIAN_INCOME_ORIGIN'].fillna(0)
df3['HHLDS_MEDIAN_INCOME_DESTINATION'] = df3['HHLDS_MEDIAN_INCOME_DESTINATION'].fillna(0)

NameError: name 'df3' is not defined

In [28]:
df3['HHLDS_MEDIAN_INCOME_ORIGIN_10k'] = df3['HHLDS_MEDIAN_INCOME_ORIGIN']/10000
df3['HHLDS_MEDIAN_INCOME_DESTINATION_10k'] = df3['HHLDS_MEDIAN_INCOME_DESTINATION'] / 10000

NameError: name 'df3' is not defined

In [29]:
df3['AIRPORT_FLAGGER'] = np.where((df3['ORIGIN'].isin([17031980000,17031980100]))|(df3['DESTINATION'].isin([17031980000,1703198010])),1,0)

NameError: name 'df3' is not defined

In [30]:
df3['PRIVATE_UTILITY'] = df3['PRIVATE_TRAVEL_TIME']*-0.110075 + df3['PRIVATE_FARE']*-0.137794 + df3['PRIVATE_TAX']*-0.137794

NameError: name 'df3' is not defined

In [37]:
df3['SHARED_UTILITY'] = -0.573322 + df3['SHARED_TRAVEL_TIME']*-0.110075 + df3['SHARED_FARE']*-0.137794 + df3['SHARED_TAX']*-0.137794 + df3['HHLDS_MEDIAN_INCOME_ORIGIN_10k']*-0.068228 + df3['HHLDS_MEDIAN_INCOME_DESTINATION_10k']*-0.049448 + df3['AIRPORT_FLAGGER']*-2.716947

In [39]:
df3['EXP_PRIVATE_UTILITY'] = np.exp(df3['PRIVATE_UTILITY'])

In [40]:
df3['EXP_SHARED_UTILITY'] = np.exp(df3['SHARED_UTILITY'])

In [41]:
df3['LOG_SUM'] = np.log(df3['EXP_PRIVATE_UTILITY'] + df3['EXP_SHARED_UTILITY'])

In [42]:
df3['LOG_SUM'].max()

0.003737063341282254

In [43]:
df3['LOG_SUM'].min()

-12.295058475202469

In [47]:
df3.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Log Sum/Log_Sum_2018_11_1.csv')

# Automate the process to create o-d-month-tod specific matricies

In [ ]:
dist = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Distance_Matrix.csv', index_col = 0)

In [ ]:
otp = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/OTP Travel Times/Car/20190605/traveltime_matrix_0-29.csv')

In [ ]:
otp['ORIGIN'] = otp.origin.astype(float)
otp['DESTINATION'] = otp.destination.astype(float)

In [ ]:
acs = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Chicago_ACS_Data.csv',index_col = 0)

In [ ]:
def set_private_travel_time(row):
    if row['TOD'] == 1:
        row['PRIVATE_TRAVEL_TIME'] =  row['OTP_AUTO_TRAVEL_TIME']*0.8489
        
    elif row['TOD'] == 2:
        row['PRIVATE_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.1825
        
    elif row['TOD'] == 3:
        row['PRIVATE_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.1331
        
    elif row['TOD'] == 4:
        row['PRIVATE_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.2906
        
    elif row['TOD'] == 5:
        row['PRIVATE_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*0.9292
        
    else:
        print('Bad Row!')
        
    return row

In [ ]:
def set_shared_travel_time(row):
    if row['TOD'] == 1:
        row['SHARED_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.0293
        
    elif row['TOD'] == 2:
        row['SHARED_TRAVEL_TIME'] =  row['OTP_AUTO_TRAVEL_TIME']*1.3786
        
    elif row['TOD'] == 3:
        row['SHARED_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.2462
        
    elif row['TOD'] == 4:
        row['SHARED_TRAVEL_TIME'] = row['OTP_AUTO_TRAVEL_TIME']*1.4132
        
    elif row['TOD'] == 5:
        row['SHARED_TRAVEL_TIME'] =  row['OTP_AUTO_TRAVEL_TIME']*1.1053
        
    else:
        print('Bad Row!')
        
    return row

In [ ]:
def set_shared_fare(row):
    if row['YEAR_MONTH'] == 201811:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9358
        
    elif row['YEAR_MONTH'] == 201812:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9408
    
    elif row['YEAR_MONTH'] == 201901:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9392
    
    elif row['YEAR_MONTH'] == 201902:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9414
    
    elif row['YEAR_MONTH'] == 201903:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9270
    
    elif row['YEAR_MONTH'] == 201904:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9817
    
    elif row['YEAR_MONTH'] == 201905:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.0219
    
    elif row['YEAR_MONTH'] == 201906:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.05634
    
    elif row['YEAR_MONTH'] == 201907:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.0708
    
    elif row['YEAR_MONTH'] == 201908:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.09
    
    elif row['YEAR_MONTH'] == 201909:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.1179
    
    elif row['YEAR_MONTH'] == 201910:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.0129
    
    elif row['YEAR_MONTH'] == 201911:
        row['SHARED_FARE'] = row['SHARED_FARE']*0.9906
    
    elif row['YEAR_MONTH'] == 201912:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.0042
    
    elif row['YEAR_MONTH'] == 202001:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.011
    
    elif row['YEAR_MONTH'] == 202002:
        row['SHARED_FARE'] = row['SHARED_FARE']*1.1003
        
    else:
        print('Bad Row!')
        
    return row

In [ ]:
tourist_tracts = [17031980100, 17031835200, 17031770602, 17031081402, 17031330100, 17031841000]

In [ ]:
downtown_tracts = [17031839000,
17031080202,
17031839100,
17031081201,
17031838300,
17031081401,
17031081300,
17031081100,
17031081000,
17031081900,
17031081500,
17031081600,
17031081700,
17031280100,
17031842200,
17031080400,
17031080300,
17031080201,
17031080100,
17031081202,
17031081403,
17031081402,
17031320100,
17031320400,
17031320600,
17031841900,
17031281900,
17031833100,
17031833000,
17031243400,
17031243500,
17031081800,
17031243300]

In [58]:


years = [2018,2019,2020]
tods = [1,2,3,4,5]

for year in years:
    print('Working on year ' + str(year))

    if year == 2018:
        months = [11,12]
    elif year == 2020:
        months = [1,2]
    else:
        months = [1,2,3,4,5,6,7,8,9,10,11,12]
        
    for month in months:
        print('Working on month ' + str(month))

        for tod in tods:
            print('Working on TOD ' + str(tod))
            print('Merging the files!')
            df = pd.DataFrame()
            df3 = pd.DataFrame()

            df = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Empty Matricies/Empty_Chicago_Matrix_' + str(year) + '_' + str(month) + '_' + str(tod) + '.csv',index_col = 0)

            df3 = df.merge(otp[['origin','destination','walk_distance','travel_time']], how = 'left', left_on = ['ORIGIN','DESTINATION'], right_on = ['origin','destination'])
            df3 = df3.merge(acs[['HHLDS_MEDIAN_INCOME','YEAR','MONTH','TOD','CENSUS_TRACT']], how = 'left', left_on = ['YEAR','MONTH','TOD','ORIGIN'], right_on = ['YEAR','MONTH','TOD','CENSUS_TRACT'])
            df3 = df3.merge(acs[['HHLDS_MEDIAN_INCOME','YEAR','MONTH','TOD','CENSUS_TRACT']], how = 'left', left_on = ['YEAR','MONTH','TOD','DESTINATION'], right_on = ['YEAR','MONTH','TOD','CENSUS_TRACT'], suffixes = ('_ORIGIN','_DESTINATION'))
            df3 = df3.merge(dist, how = 'left', on = ['ORIGIN','DESTINATION'])
            
            print('Formatting the data!')

            df3['OTP_AUTO_TRAVEL_TIME'] = df3['travel_time']/60
            df3 = df3.apply(lambda row: set_private_travel_time(row), axis = 1)
            df3 = df3.apply(lambda row: set_shared_travel_time(row), axis = 1)
            df3['PRIVATE_FARE'] =  1.9035 + df3['PRIVATE_TRAVEL_TIME']*0.2892 + df3['DISTANCE']*0.8822
            df3['SHARED_FARE'] =  2.6496 + 0.06*df3['SHARED_TRAVEL_TIME'] + 0.7349*df3['DISTANCE']
            df3['YEAR_MONTH'] = df3['MONTH'] + df3['YEAR']*100
            df3 = df3.apply(lambda row: set_shared_fare(row), axis = 1)
            #set the tax for trips with both ends outside of tourist zone during 2018
            df3['SHARED_TAX'] = np.where(df3['YEAR'] == 2018, 0.67, np.nan)
            df3['PRIVATE_TAX'] = np.where(df3['YEAR'] == 2018, 0.67, np.nan)

            #set the tax for trips with broth ends outside of trouist zone during 2019
            df3['SHARED_TAX'] = np.where(df3['YEAR'] == 2019, 0.72, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where(df3['YEAR'] == 2019, 0.72, df3['PRIVATE_TAX'])

            #set the tax for trips with at least one end within the tourist zone during 2019 and 2018
            df3['SHARED_TAX'] = np.where((df3['ORIGIN'].isin(tourist_tracts))|(df3['DESTINATION'].isin(tourist_tracts)), 5, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where((df3['ORIGIN'].isin(tourist_tracts))|(df3['DESTINATION'].isin(tourist_tracts)), 5, df3['PRIVATE_TAX'])


            #set the tax for trips with both trip ends outside of the downtown zone during 2020
            df3['SHARED_TAX'] = np.where((df3['YEAR'] == 2020), 0.65, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where((df3['YEAR'] == 2020), 1.25, df3['PRIVATE_TAX'])


            #set the tax with at least one trip end within the downtown zone for 2020
            df3['SHARED_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(downtown_tracts)), 1.25, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(downtown_tracts)), 3, df3['PRIVATE_TAX'])

            df3['SHARED_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(downtown_tracts)), 1.25, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(downtown_tracts)), 3, df3['PRIVATE_TAX'])


            #set the tax for trips with at least one trip end within a tourist zone for 2020                       
            df3['SHARED_TAX'] = np.where((df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(tourist_tracts)), 5.65, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where((df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(tourist_tracts)), 6.25, df3['PRIVATE_TAX'])

            df3['SHARED_TAX'] = np.where((df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(tourist_tracts)), 5.65, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where((df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(tourist_tracts)), 6.25, df3['PRIVATE_TAX'])


            #set the tax with one trip end in the downtown zone and the other trip end in a tourist zone for 2020
            df3['SHARED_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(downtown_tracts))&(df3['ORIGIN'].isin(tourist_tracts)), 6.25, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['DESTINATION'].isin(downtown_tracts))&(df3['ORIGIN'].isin(tourist_tracts)), 8, df3['PRIVATE_TAX'])

            df3['SHARED_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(downtown_tracts))&(df3['DESTINATION'].isin(tourist_tracts)), 6.25, df3['SHARED_TAX'])
            df3['PRIVATE_TAX'] = np.where((df3['TOD'] != 1)&(df3['YEAR'] == 2020)&(df3['ORIGIN'].isin(downtown_tracts))&(df3['DESTINATION'].isin(tourist_tracts)), 8, df3['PRIVATE_TAX'])

            df3['HHLDS_MEDIAN_INCOME_ORIGIN'] = df3['HHLDS_MEDIAN_INCOME_ORIGIN'].fillna(0)
            df3['HHLDS_MEDIAN_INCOME_DESTINATION'] = df3['HHLDS_MEDIAN_INCOME_DESTINATION'].fillna(0)
            
            df3['HHLDS_MEDIAN_INCOME_ORIGIN_10k'] = df3['HHLDS_MEDIAN_INCOME_ORIGIN']/10000
            df3['HHLDS_MEDIAN_INCOME_DESTINATION_10k'] = df3['HHLDS_MEDIAN_INCOME_DESTINATION'] / 10000
            
            df3['AIRPORT_FLAGGER'] = np.where((df3['ORIGIN'].isin([17031980000,17031980100]))|(df3['DESTINATION'].isin([17031980000,1703198010])),1,0)
            
            print('Calculating Utility and Log Sum!')

            df3['PRIVATE_UTILITY'] = df3['PRIVATE_TRAVEL_TIME']*-0.110075 + df3['PRIVATE_FARE']*-0.137794 + df3['PRIVATE_TAX']*-0.137794
            df3['SHARED_UTILITY'] = -0.573322 + df3['SHARED_TRAVEL_TIME']*-0.110075 + df3['SHARED_FARE']*-0.137794 + df3['SHARED_TAX']*-0.137794 + df3['HHLDS_MEDIAN_INCOME_ORIGIN_10k']*-0.068228 + df3['HHLDS_MEDIAN_INCOME_DESTINATION_10k']*-0.049448 + df3['AIRPORT_FLAGGER']*-2.716947
            
            df3['EXP_PRIVATE_UTILITY'] = np.exp(df3['PRIVATE_UTILITY'])
            df3['EXP_SHARED_UTILITY'] = np.exp(df3['SHARED_UTILITY'])
            
            df3['LOG_SUM'] = np.log(df3['EXP_PRIVATE_UTILITY'] + df3['EXP_SHARED_UTILITY'])
            
            df3[['ORIGIN','DESTINATION','MONTH','YEAR','TOD','LOG_SUM','EXP_PRIVATE_UTILITY','EXP_SHARED_UTILITY','PRIVATE_UTILITY','SHARED_UTILITY','AIRPORT_FLAGGER','HHLDS_MEDIAN_INCOME_DESTINATION_10k','HHLDS_MEDIAN_INCOME_ORIGIN_10k','PRIVATE_TAX','SHARED_TAX','PRIVATE_FARE','SHARED_FARE','PRIVATE_FARE','SHARED_FARE','PRIVATE_TRAVEL_TIME','SHARED_TRAVEL_TIME']].to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Destination Choice Model Matricies/Log Sum/Log_Sum_' + str(year) + '_' + str(month) + '_' + str(tod) + '.csv')

Working on year 2018
Working on month 11
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 12
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on year 2019
Working on month 1
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 2
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 3
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 4
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 5
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 6
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 7
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 8
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 9
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 10
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 11
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 12
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on year 2020
Working on month 1
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on month 2
Working on TOD 1
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 2
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 3
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 4
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!
Working on TOD 5
Merging the files!
Formatting the data!
Calculating Utility and Log Sum!