In [1]:
import pandas as pd

In [ ]:
#the accuracy check of travel times notebook shows that the trips from census tract 17031400800 to census tract 17031490600 
# during october of 2019 have a travel time of zero

In [85]:
l = ['Pickup Census Tract']

In [ ]:
l[0]

In [198]:
est = pd.read_csv('D:/TNC-Demand-Model/Inputs/Chicago Ride-Hailing/Monthly_Trip_Records_No_Suppressed_Shared.csv')

In [199]:
select = est[(est['Pickup Census Tract'] == 17031030200)&(est['Dropoff Census Tract'] == 17031030101)]

In [202]:
select['Trip Seconds'].min()

116.0

In [ ]:
est = pd.read_csv('D:/TNC-Demand-Model/Outputs/2019_Weekday_Monthly_Ridehail_TOD.csv')

In [ ]:
select = est[(est['Pickup Census Tract'] == 17031030200)&(est['Dropoff Census Tract'] == 17031030101)]

In [ ]:
select['Trip Seconds'].min()

In [2]:
store = pd.HDFStore('D:/TNC-Demand-Model/Inputs/Chicago Ride-Hailing/Chicago_TNC_Trips_20.H5')

In [64]:
df1 = store.select(key = 'Weekday_1', where = ['MONTH == 3','YEAR == 2019'])
df1 = df1[(df1['Pickup Census Tract'] == 17031050800)&(df1['Dropoff Census Tract'] == 17031282700)]

In [ ]:
17031050800	17031282700

In [65]:
df2 = store.select(key = 'Weekday_2', where = ['MONTH == 3','YEAR == 2019'])
df2 = df2[(df2['Pickup Census Tract'] == 17031050800)&(df2['Dropoff Census Tract'] == 17031282700)]

In [66]:
df3 = store.select(key = 'Weekday_3', where = ['MONTH == 3','YEAR == 2019'])
df3 = df3[(df3['Pickup Census Tract'] == 17031050800)&(df3['Dropoff Census Tract'] == 17031282700)]

In [67]:
df4 = store.select(key = 'Weekday_4', where = ['MONTH ==3','YEAR == 2019'])
df4 = df4[(df4['Pickup Census Tract'] == 17031050800)&(df4['Dropoff Census Tract'] == 17031282700)]

In [68]:
df5 = store.select(key = 'Weekday_5', where = ['MONTH == 3','YEAR == 2019'])
df5 = df5[(df5['Pickup Census Tract'] == 17031050800)&(df5['Dropoff Census Tract'] == 17031282700)]

In [69]:
df1

Empty DataFrame
Columns: [Trip ID, Trip Start Timestamp, Trip End Timestamp, Trip Seconds, Trip Miles, Pickup Census Tract, Dropoff Census Tract, Pickup Community Area, Dropoff Community Area, Fare, Tip, Additional Charges, Trip Total, Shared Trip Authorized, Trips Pooled, Pickup Centroid Latitude, Pickup Centroid Longitude, Pickup Centroid Location, Dropoff Centroid Latitude, Dropoff Centroid Longitude, Dropoff Centroid Location, YEAR, MONTH, DOW, HOUR]
Index: []

[0 rows x 25 columns]

In [70]:
df2

Empty DataFrame
Columns: [Trip ID, Trip Start Timestamp, Trip End Timestamp, Trip Seconds, Trip Miles, Pickup Census Tract, Dropoff Census Tract, Pickup Community Area, Dropoff Community Area, Fare, Tip, Additional Charges, Trip Total, Shared Trip Authorized, Trips Pooled, Pickup Centroid Latitude, Pickup Centroid Longitude, Pickup Centroid Location, Dropoff Centroid Latitude, Dropoff Centroid Longitude, Dropoff Centroid Location, YEAR, MONTH, DOW, HOUR]
Index: []

[0 rows x 25 columns]

In [71]:
df3

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,...,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,YEAR,MONTH,DOW,HOUR
51772009,21cdb90ccaf7c4656611995175a1ddc4f0a8b92f,2019-03-20 14:45:00,2019-03-20 16:45:00,6852.0,11.5,1.703105e+10,1.703128e+10,5.0,28.0,15.0,...,41.94501,-87.680928,POINT (-87.6809282247 41.9450101512),41.871351,-87.688675,POINT (-87.6886749004 41.8713514005),2019,3,2,14

In [72]:
df4

Empty DataFrame
Columns: [Trip ID, Trip Start Timestamp, Trip End Timestamp, Trip Seconds, Trip Miles, Pickup Census Tract, Dropoff Census Tract, Pickup Community Area, Dropoff Community Area, Fare, Tip, Additional Charges, Trip Total, Shared Trip Authorized, Trips Pooled, Pickup Centroid Latitude, Pickup Centroid Longitude, Pickup Centroid Location, Dropoff Centroid Latitude, Dropoff Centroid Longitude, Dropoff Centroid Location, YEAR, MONTH, DOW, HOUR]
Index: []

[0 rows x 25 columns]

In [73]:
df5

Empty DataFrame
Columns: [Trip ID, Trip Start Timestamp, Trip End Timestamp, Trip Seconds, Trip Miles, Pickup Census Tract, Dropoff Census Tract, Pickup Community Area, Dropoff Community Area, Fare, Tip, Additional Charges, Trip Total, Shared Trip Authorized, Trips Pooled, Pickup Centroid Latitude, Pickup Centroid Longitude, Pickup Centroid Location, Dropoff Centroid Latitude, Dropoff Centroid Longitude, Dropoff Centroid Location, YEAR, MONTH, DOW, HOUR]
Index: []

[0 rows x 25 columns]

In [130]:
df5['Shared Trip Authorized']

Series([], Name: Shared Trip Authorized, dtype: bool)

In [132]:
df5.columns

Index(['Trip ID', 'Trip Start Timestamp', 'Trip End Timestamp', 'Trip Seconds',
       'Trip Miles', 'Pickup Census Tract', 'Dropoff Census Tract',
       'Pickup Community Area', 'Dropoff Community Area', 'Fare', 'Tip',
       'Additional Charges', 'Trip Total', 'Shared Trip Authorized',
       'Trips Pooled', 'Pickup Centroid Latitude', 'Pickup Centroid Longitude',
       'Pickup Centroid Location', 'Dropoff Centroid Latitude',
       'Dropoff Centroid Longitude', 'Dropoff Centroid Location', 'YEAR',
       'MONTH', 'DOW', 'HOUR'],
      dtype='object')