In [30]:
import pandas as pd
import numpy as np

In [4]:
tod = [1
month = 3
year = 2019

In [6]:
for tod in tods:
    df = pd.read_hdf('D:/TNC-Demand-Model/Inputs/Chicago Ride-Hailing/Chicago_TNC_Trips_20.H5', where = ['YEAR == ' + str(year),'MONTH == '+str(month)], key = 'Weekday' + '_' + str(tod))

In [11]:
df['TRIPS'] = 1 
df['DAY'] = df['Trip Start Timestamp'].dt.day

In [10]:
df.groupby(by = 'MONTH').sum()

,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,Tip,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,YEAR,DOW,HOUR,TRIPS
MONTH,,,,,,,,,,,,,,,,,,,,
3,903081815.0,6443409.5,9.684142e+15,9.668541e+15,22975260.0,24447792.0,10885687.5,513474.0,2.887101e+06,1.428626e+07,250907,1260577.0,3.731777e+07,-7.809618e+07,3.710606e+07,-7.765469e+07,1931211861,2337763,14941210,956519

In [14]:
df2 = df.groupby(by = ['MONTH','DAY'], as_index = False).sum()

In [15]:
df2.groupby(by = ['MONTH'], as_index = False).mean()

,MONTH,DAY,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,Tip,...,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,YEAR,DOW,HOUR,TRIPS
0,3,15.761905,4.300390e+07,306829.02381,4.611496e+14,4.604067e+14,1094060.0,1.164181e+06,518366.071429,24451.142857,...,11947.952381,60027.47619,1.777037e+06,-3.718866e+06,1.766955e+06,-3.697843e+06,9.196247e+07,111322.047619,711486.190476,45548.52381

In [17]:
len(df2.DAY.unique())

21

In [39]:
45548.52*21

956518.9199999999

# Test Aggregating at a Comunnity Area Level

In [18]:
df3 = df.groupby(by = ['Pickup Community Area','Dropoff Community Area','MONTH','DAY'], as_index = False).sum()

In [34]:
df4 = df3.groupby(by = ['Pickup Community Area','Dropoff Community Area','MONTH'], as_index = False).mean()

In [35]:
len(df3.DAY.unique())

21

In [36]:
np.sum(df[(df['Pickup Community Area'] == 1)&(df['Dropoff Community Area'] == 1)]['TRIPS'])

2227

In [38]:
np.sum(df4[(df4['Pickup Community Area'] == 1)&(df4['Dropoff Community Area'] == 1)]['TRIPS']*21)

2227.0

In [21]:
df4.groupby(by = 'MONTH').sum()

,Pickup Community Area,Dropoff Community Area,DAY,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Fare,Tip,Additional Charges,...,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,YEAR,DOW,HOUR,TRIPS
MONTH,,,,,,,,,,,,,,,,,,,,,
3,2253689.0,2294957.0,942637,690503534.0,4344698.2,8.991944e+15,8.991924e+15,7955305.0,353536.0,2.272942e+06,...,215519,1090109.0,3.432684e+07,-7.183318e+07,3.432933e+07,-7.183907e+07,1654376676,2026603,13099510,819404

# Test Aggregating at a Census Tract Level

In [44]:
df5 = df.groupby(by = ['Pickup Census Tract','Dropoff Census Tract','MONTH','DAY'], as_index = False).sum()

In [45]:
df6 = df3.groupby(by = ['Pickup Census Tract','Dropoff Census Tract','MONTH'], as_index = False).mean()

In [46]:
len(df5.DAY.unique())

21

In [55]:
np.sum(df[(df['Pickup Census Tract'] == 17031841900)&(df['Dropoff Census Tract'] == 17031841900)]['TRIPS'])

218

In [56]:
np.sum(df4[(df4['Pickup Census Tract'] == 17031841900)&(df4['Dropoff Census Tract'] == 17031841900)]['TRIPS']*21)

218.0

In [57]:
df6.groupby(by = 'MONTH').sum()

,Pickup Census Tract,Dropoff Census Tract,DAY,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Fare,Tip,Additional Charges,...,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,YEAR,DOW,HOUR,TRIPS
MONTH,,,,,,,,,,,,,,,,,,,,,
3,1.396587e+15,1.396586e+15,1.250580e+06,9.793208e+07,590783.766105,2.368129e+06,2.474229e+06,1.044002e+06,42678.306466,254904.938005,...,29697.81601,144835.798322,4.233828e+06,-8.858466e+06,4.226428e+06,-8.843334e+06,2.047575e+08,285397.103872,2.038590e+06,101415.323063